<template>
    <v-app class="wrapper">
        <landing-toolbar></landing-toolbar>
        <landing-drawer v-if="responsive"></landing-drawer>
        <v-content
          id="pages"
          :class="$vuetify.theme.dark ? undefined : 'grey lighten-3'"
        >
            <v-img
              :class="{
                        'v-image--sm': this.$vuetify.breakpoint.smAndDown,
                        'v-image--md': this.$vuetify.breakpoint.mdAndDown
                      }"
              :src="headerStyle"
              aspect-ratio="16/9"
              gradient="to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)"
              min-height="100%"
            >
                <v-container
                  align="center"
                  fill-height
                  class="error-page"
                >
                    <v-row
                      class="text-center"
                      justify="center"
                    >
                        <v-col cols="auto">
                            <h1 class="font-weight-black mb-6">{{ code }}</h1>
                            <h2 class="description">{{ error }}</h2>
                            <h4 class="description">Ooooups! Looks like you got lost.</h4>
                            <v-btn to="/">Go Home</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-img>
        </v-content>
        <core-snackbar @on-close="onCloseNotification"></core-snackbar>
        <core-new-update-available></core-new-update-available>
    </v-app>
</template>


<script>
    export default {
        name: "ErrorLayout",
        created: function () {
            if ( this.$route.params.code ) {
                this.code = this.$route.params.code;
            }
            if ( this.$route.params.text ) {
                this.error = this.$route.params.text;
            }
        },
        data() {
            return {
                code: 404,
                error: 'Page not found :(',
            };
        },
        computed: {
            headerStyle() {
                return require("@/assets/img/bg7.jpg")
            }
        },
    }
</script>

<style lang="scss">
    #pages {
        .error-page {
            h1, .h1 {
                font-size: 12rem !important;
                color: white;
                line-height: 1.15em !important;
            }
        }
    }
    @media (max-width: 991px) {
        #pages {
            .error-page {
                h1, .h1 {
                    font-size: 9rem !important;
                }
            }
        }
    }
</style>