<template>
  <v-container id="general-report" tag="section">
    <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.ByProfessionals')" inline>
      <v-card-text>
        <ByProfessionalsForm></ByProfessionalsForm>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "ByProfessionals",
    components: {
      ByProfessionalsForm: () => import("@/views/dashboard/Forms/ByProfessionalsForm")
    }
  }
</script>

<style scoped>

</style>