<template>
  <v-container id="calendar-report" tag="section">
    <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.CalendarCommunity')" inline>
      <v-card-text>
        <community-report></community-report>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "CalendarCommunity",
    components: {
      CommunityReport: () => import("@/views/dashboard/Forms/CommunityCalendarForm")
    }
  }
</script>

<style scoped>

</style>