<template>
  <v-container id="citizen-attention" tag="section">
    <material-card :color="accentColor" icon="mdi-nature-people" :title="$t('Dashboard.CitizenAttention')" inline>
      <v-card-text>
        <citizen-attention-table>
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>
        </citizen-attention-table>
      </v-card-text>

    </material-card>

    <v-dialog v-model="dialog" persistent :fullscreen="responsive" :max-width="responsive ? 'none' : '660px'" >
      <v-card>
        <v-card-title v-if="responsive">
          {{ date | card_title_dates( $i18n.locale, titleInResponsive ) }}
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on"><v-icon>mdi-pencil</v-icon></v-btn>
            </template>
            <v-date-picker v-model="date" no-title
                           :events="events"
                           event-color="success"
                           @update:picker-date="onUpdatePicker"
                           scrollable
            >
              <div class="flex-grow-1"></div>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
            </v-date-picker>
          </v-menu>
          <v-spacer></v-spacer>
          <v-btn icon @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-title v-else>
          {{ $t('Core.Create') }}
          <v-spacer></v-spacer>
          <v-btn icon @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row v-if="!responsive" align="center" justify="center">
              <v-date-picker
                v-model="date"
                :events="events"
                event-color="success"
                @update:picker-date="onUpdatePicker"
                no-title
              ></v-date-picker>
            </v-row>
            <citizen-attention-form :date="date">
            </citizen-attention-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {CitizenAttention} from "@/models/services/CitizenAttention";

  export default {
    name: "CitizenAttention",
    components: {
      CitizenAttentionForm: () => import("@/views/dashboard/Forms/CitizenAttentionForm"),
      CitizenAttentionTable: () => import("@/views/dashboard/Tables/CitizenAttentionTable"),
    },
    data: () => ({
      date: moment().format('YYYY-MM-DD'),
      events: [],
      month: null,
      menu: false,
      dialog: false,
    }),
    created: function() {
      this.getEvents();
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getEvents)
    },
    methods: {
      getEvents: function () {

        let date = this.moment( this.month ).isValid() ? this.moment( this.month ) : this.moment();

        let start = date.startOf('month').format('YYYY-MM-DD');
        let end   = date.endOf('month').format('YYYY-MM-DD');

        (new CitizenAttention()).calendar({ params: { start: start, end: end } })
          .then( response => this.events = response.data.map(e => e.execution_date))
          .catch( error => this.notifyOnError(error.message));
      },
      onUpdatePicker: function( data ) {
        if ( moment( data ).isValid() ) {
          this.month = moment( data );
          this.getEvents();
        }
      },
    },
    computed: {
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style scoped>

</style>