<template>
  <v-container id="citizen-attention" tag="section">
    <material-card :color="accentColor" icon="mdi-nature-people" :title="$t('Dashboard.FollowingCommitment')" inline>
      <v-card-text>
        <FollowingCommitmentsTable>
        </FollowingCommitmentsTable>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "FollowingCommitment",
    components: {
      FollowingCommitmentsTable: () => import("@/views/dashboard/Tables/FollowingCommitmentsTable"),
    },
  }
</script>

<style scoped>

</style>