<template>
  <div id="calendar">
    <v-toolbar flat class="mt-1">
      <v-btn :loading="isLoading" :disabled="isLoading" outlined class="mr-4 hidden-sm-and-down" @click="setToday">
        {{ $t('Calendar.Today') }}
      </v-btn>

      <v-btn :loading="isLoading" :disabled="isLoading" icon small class="mr-4 hidden-md-and-up" @click="setToday">
        <v-icon >mdi-calendar-today</v-icon>
      </v-btn>

      <v-btn icon :loading="isLoading" :disabled="isLoading" small @click="prev">
        <v-icon small>mdi-chevron-left</v-icon>
      </v-btn>
      <v-btn icon :loading="isLoading" :disabled="isLoading" small @click="next">
        <v-icon small>mdi-chevron-right</v-icon>
      </v-btn>

      <v-toolbar-title>{{ title }}</v-toolbar-title>

      <v-spacer ></v-spacer>

      <v-btn :loading="isLoading" :disabled="isLoading" icon small class="hidden-md-and-up"  @click="getEvents">
        <v-icon >mdi-refresh</v-icon>
      </v-btn>

      <v-btn
        class="hidden-sm-and-down"
        outlined
        :loading="isLoading"
        :disabled="isLoading"
        @click="getEvents"
      >
        <v-icon left>mdi-refresh</v-icon>
        {{ $t('Core.Refresh') }}
      </v-btn>

      <v-menu bottom right>
        <template v-slot:activator="{ on }">
          <v-btn
            v-if="!responsive"
            outlined
            :loading="isLoading"
            :disabled="isLoading"
            v-on="on"
          >
            <span>{{ $t( typeToLabel[type] ) }}</span>
            <v-icon right>mdi-menu-down</v-icon>
          </v-btn>
          <v-btn icon small v-else v-on="on">
            <v-icon >mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="type = 'month'">
            <v-list-item-title>{{ $t('Calendar.Month') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = 'week'">
            <v-list-item-title>{{ $t('Calendar.Week') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = 'day'">
            <v-list-item-title>{{ $t('Calendar.Day') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = '4day'">
            <v-list-item-title>{{ $t('Calendar.4day') }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-divider></v-divider>
    <v-calendar
      :locale="$i18n.locale"
      ref="calendar"
      v-model="focus"
      color="primary"
      :events="events"
      :event-color="getEventColor"
      :event-margin-bottom="3"
      :type="type"
      @click:event="showEvent"
      @click:more="viewDay"
      @click:date="viewDay"
      @click:day="show"
      @change="updateRange"
      :now="moment().format('YYYY-MM-DD')"
    >
    </v-calendar>

    <v-menu
      v-if="!responsive"
      v-model="selectedOpen"
      :close-on-content-click="false"
      :activator="selectedElement"
      full-width
      offset-x
    >
      <EventDetailsMini width="500" :event="selectedEvent" :on-close="onClose">
        <template v-if="!selectedEvent.is_commit" v-slot:dots-menu>
          <v-menu bottom offset-x left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item  @click="onDetails(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-text-subject</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Core.Details').capitalize()"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </EventDetailsMini>
    </v-menu>
    <v-dialog v-if="responsive"
              :activator="selectedElement"
              fullscreen
              transition="dialog-bottom-transition"
              v-model="selectedOpen" >
      <EventDetailsMini :event="selectedEvent" :on-close="onClose">
        <template v-if="!selectedEvent.is_commit"  v-slot:dots-menu>
          <v-menu bottom offset-x left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item  @click="onDetails(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-text-subject</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Core.Details').capitalize()"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </EventDetailsMini>

    </v-dialog>

  </div>
</template>

<script>
  import {CitizenAttention} from "@/models/services/CitizenAttention";
  import {Programming} from "@/models/services/Programming";
  import {CommitmentCalendar} from "@/models/services/CommitmentCalendar";

  export default {
    name: 'Dashboard',
    components: {
      EventDetailsMini: () => import( "@/views/dashboard/Events/EventsMini" ),
    },
    data: function () {
      return {
        start: null,
        end: null,
        selectedEvent: {},
        selectedElement: null,
        selectedOpen: false,
        events: [],
        focus: moment().format('YYYY-MM-DD'),
        type: 'week',
        typeToLabel: {
          'month': 'Calendar.Month',
          'week': 'Calendar.Week',
          'day': 'Calendar.Day',
          '4day': 'Calendar.4day',
        },
      }
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getEvents);
      this.getEvents();
    },
    methods: {
      getEvents: _.throttle(function () {
        const  { start, end } = this;

        let that = this;

        if ( start && end ) {
          this.setLoading( true );
          let citizen = (new CitizenAttention()).calendar({ params: { start: start ? start.date : moment().startOf('week').format('YYYY-MM-DD'), end: end ? end.date : null, general: true } });
          let programming = (new Programming()).calendar({ params: { start: start ? start.date : moment().endOf('week').format('YYYY-MM-DD'), end: end ? end.date : null, general: true } });
          let commitments = (new CommitmentCalendar()).index({ params: { start: start ? start.date : null, end: end ? end.date : null, general: true } });
          this.axios.all( [citizen, programming, commitments] )
            .then( that.axios.spread(function (citizen_response, programming_response, commitment_response ) {
              let citizen = citizen_response.data.map( event => {
                return {
                  name: `${event.id} - ${that.$t('Dashboard.CitizenAttention')}`,
                  start: event.execution_date,
                  date: event.execution_date,
                  schedule: event.citizen_attention_schedule,
                  working_day: event.citizen_attention_schedule_id,
                  is_citizen: true,
                  ...event
                }
              })

              let programming = programming_response.data.map( event => {
                return {
                  date: event.execution_date,
                  schedule: `${event.initial_hour} - ${event.final_hour}`,
                  is_citizen: false,
                  ...event
                }
              });

              let commits = commitment_response.data.map( event => {
                return {
                  name: `${event.id} - ${that.$t('Input.Commitment').capitalize()}`,
                  start: event.date,
                  date: event.date,
                  schedule: event.date,
                  is_commit: true,
                  color: 'pink',
                  ...event
                }
              })
              that.events = programming.concat( citizen, commits );
            }))
            .catch(error => this.notifyOnError( error.message ))
            .finally(() => this.setLoading( false ))
        }


      }, 1000),
      show ( day ) {

        const open = () => {
          this.create_title = day.date;
          setTimeout(() => this.create_dialog = true, 200)
        }

        if (this.create_dialog) {
          this.create_dialog = false
          setTimeout(open, 200)
        } else {
          open()
        }
      },
      viewDay({date}) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor(event) {
        return event.color
      },
      setToday() {
        this.focus = this.today
      },
      prev() {
        this.$refs.calendar.prev()
      },
      next() {
        this.$refs.calendar.next()
      },
      showEvent({nativeEvent, event}) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange({start, end}) {
        this.start = start
        this.end = end
        this.getEvents( start.date, end.date );
      },
      onClose: function () {
        this.selectedOpen = false;
        this.selectedEvent = {};
        this.cancel_dialog = false;
        this.reprogram_dialog = false;
      },
      onDetails: function (event) {
        if ( event.is_citizen ) {
          this.$router.push({name: 'CitizenAttentionDetails', params: { id: event.id, event: event } })
        } else {
          this.$router.push({name: 'ProgrammingDetails', params: { id: event.id, event: event } })
        }
      },
    },
    computed: {
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
      title() {
        const {start, end} = this
        if (!start || !end) {
          return this.responsive ? this.moment().locale(this.$i18n.locale).format( 'MMM' ) : this.moment().locale(this.$i18n.locale).format( 'MMMM YYYY' )
        }

        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? startMonth : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? startYear : endYear

        const startDay = start.day
        const endDay = end.day

        switch (this.type) {
          case 'month':
            return `${suffixMonth} ${suffixYear}`
          case 'week':
          case '4day':
            return `${startMonth} ${startDay} - ${suffixMonth} ${endDay}  ${suffixYear}`
          case 'day':
            return `${startMonth} ${startDay} ${startYear}`
        }
        return ''
      },
      monthFormatter() {
        return this.$refs.calendar.getFormatter({
          timeZone: 'America/Bogota', month: 'long',
        })
      },
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style lang="scss" scoped>
  body, html, #app, #calendar {
    width: 100%;
    height: 100%;
  }
</style>
