<template>
  <div id="calendar">
    <v-toolbar flat class="mt-1">
      <v-btn :loading="isLoading" :disabled="isLoading" outlined class="mr-4 hidden-sm-and-down" @click="setToday">
        {{ $t('Calendar.Today') }}
      </v-btn>

      <v-btn :loading="isLoading" :disabled="isLoading" icon small class="mr-4 hidden-md-and-up" @click="setToday">
        <v-icon >mdi-calendar-today</v-icon>
      </v-btn>

      <v-btn icon :loading="isLoading" :disabled="isLoading" small @click="prev">
        <v-icon small>mdi-chevron-left</v-icon>
      </v-btn>
      <v-btn icon :loading="isLoading" :disabled="isLoading" small @click="next">
        <v-icon small>mdi-chevron-right</v-icon>
      </v-btn>

      <v-toolbar-title>{{ title }}</v-toolbar-title>

      <v-spacer ></v-spacer>

      <v-autocomplete
        v-model.number="professional"
        clearable
        :loading="isLoading"
        :disabled="isLoading"
        :items="professionals"
        id="professional_id"
        name="professional_id"
        item-text="name"
        :search-input.sync="search"
        hide-details
        @change="getEvents"
        hide-selected
        item-value="id"
        class="mr-4 hidden-sm-and-down"
        prepend-icon="mdi-account-multiple"
        :label="$t('Input.Professional').capitalize()"
      ></v-autocomplete>

      <v-btn :loading="isLoading" :disabled="isLoading" icon small class="hidden-md-and-up"  @click="getEvents">
        <v-icon >mdi-refresh</v-icon>
      </v-btn>

      <v-menu bottom right>
        <template v-slot:activator="{ on }">
          <v-btn class="hidden-md-and-up" icon small v-on="on">
            <v-icon >mdi-account-multiple</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-for="item in professionals" :key="item.id" @click="onProfessional(item.id)">
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-btn
        class="hidden-sm-and-down"
        outlined
        :loading="isLoading"
        :disabled="isLoading"
        @click="getEvents"
      >
        <v-icon left>mdi-refresh</v-icon>
        {{ $t('Core.Refresh') }}
      </v-btn>

      <v-menu bottom right>
        <template v-slot:activator="{ on }">
          <v-btn
            v-if="!responsive"
            outlined
            :loading="isLoading"
            :disabled="isLoading"
            v-on="on"
          >
            <span>{{ $t( typeToLabel[type] ) }}</span>
            <v-icon right>mdi-menu-down</v-icon>
          </v-btn>
          <v-btn icon small v-else v-on="on">
            <v-icon >mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="type = 'month'">
            <v-list-item-title>{{ $t('Calendar.Month') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = 'week'">
            <v-list-item-title>{{ $t('Calendar.Week') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = 'day'">
            <v-list-item-title>{{ $t('Calendar.Day') }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = '4day'">
            <v-list-item-title>{{ $t('Calendar.4day') }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-divider></v-divider>
    <v-calendar
      :locale="$i18n.locale"
      ref="calendar"
      v-model="focus"
      color="primary"
      :events="events"
      :event-color="getEventColor"
      :event-margin-bottom="3"
      :type="type"
      @click:event="showEvent"
      @click:more="viewDay"
      @click:date="viewDay"
      @click:day="show"
      @change="updateRange"
      :now="moment().format('YYYY-MM-DD')"
    >
    </v-calendar>

    <v-menu
      v-if="!responsive"
      v-model="selectedOpen"
      :close-on-content-click="false"
      :activator="selectedElement"
      full-width
      offset-x
    >
      <EventDetailsMini width="500" :event="selectedEvent" :on-close="onClose">
        <template v-if="!selectedEvent.is_commit" v-slot:dots-menu>
          <v-menu bottom offset-x left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item v-if="selectedEvent.professional === $user.id && !selectedEvent.is_community" @click="onCancel(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-cancel</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Core.Cancel')"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-if="selectedEvent.professional === $user.id && !selectedEvent.is_community" @click="onReprogram(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-history</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Input.Reprogram').capitalize()"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item  @click="onDetails(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-text-subject</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Core.Details').capitalize()"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </EventDetailsMini>
    </v-menu>

    <v-dialog v-if="responsive"
              :activator="selectedElement"
              fullscreen
              transition="dialog-bottom-transition"
              v-model="selectedOpen" >
      <EventDetailsMini :event="selectedEvent" :on-close="onClose">
        <template v-if="!selectedEvent.is_commit"  v-slot:dots-menu>
          <v-menu bottom offset-x left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item v-if="selectedEvent.professional === $user.id" @click="onCancel(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-cancel</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Core.Cancel')"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-if="selectedEvent.professional === $user.id" @click="onReprogram(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-history</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Input.Reprogram').capitalize()"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item  @click="onDetails(selectedEvent)">
                <v-list-item-icon>
                  <v-icon>mdi-text-subject</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="$t('Core.Details').capitalize()"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
      </EventDetailsMini>

    </v-dialog>
    <v-dialog v-model="create_dialog" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card class="elevation-10">
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random" extended>

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ create_title | card_title_dates( $i18n.locale, titleInResponsive ) }}
          </v-toolbar-title>

          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="create_title"
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on"><v-icon>mdi-pencil</v-icon></v-btn>
            </template>
            <v-date-picker v-model="create_title" no-title scrollable>
              <div class="flex-grow-1"></div>
              <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(create_title)">OK</v-btn>
            </v-date-picker>
          </v-menu>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="create_dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>

          <template v-slot:extension>
            <v-tabs
              v-model="tab"
              background-color="transparent"
            >
              <v-tab href="#tab-1" class="ml-1 white--text">
                {{ $t('Dashboard.CitizenAttention') }}
              </v-tab>
              <v-tab href="#tab-2" class="white--text">
                {{ $t('Dashboard.ParkProgramming') }}
              </v-tab>
              <v-tab href="#tab-3" class="white--text">
                {{ $t('Dashboard.CommunityAttention') }}
              </v-tab>
              <v-tabs-slider color="white"></v-tabs-slider>
            </v-tabs>
          </template>

        </v-toolbar>

        <v-card-text class="mb-0">
          <v-tabs-items v-model="tab">
            <v-tab-item value="tab-1">
              <v-container>
                <v-row align="center" justify="center">
                  <v-col cols="12" sm="12" lg="8">
                    <citizen-form :date="create_title"></citizen-form>
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
            <v-tab-item value="tab-2">
              <v-container>
                <v-row align="center" justify="center">
                  <v-col cols="12" sm="12" lg="8">
                    <programming-form :date="create_title"></programming-form>
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
            <v-tab-item value="tab-3">
              <v-container>
                <v-row align="center" justify="center">
                  <v-col cols="12" sm="12" lg="8">
                    <community-form :date="create_title"></community-form>
                  </v-col>
                </v-row>
              </v-container>
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>

      </v-card>
    </v-dialog>

    <cancel-event v-if="selectedEvent.id" :show="cancel_dialog" :on-close="onClose" :form="form" :id="selectedEvent.id"></cancel-event>
    <reprogram-event v-if="selectedEvent.id" :is-attention="selectedEvent.is_citizen" :show="reprogram_dialog" :on-close="onClose" :form="form" :id="selectedEvent.id"></reprogram-event>

    <v-fab-transition>
      <v-btn
        @click="show"
        color="success"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>

<script>
  import {CitizenAttention} from "@/models/services/CitizenAttention";
  import {Programming} from "@/models/services/Programming";
  import {CommitmentCalendar} from "@/models/services/CommitmentCalendar";
  import {CommunityAttention} from "@/models/services/CommunityAttention";

  export default {
    name: 'Dashboard',
    components: {
      CitizenForm: () => import( "@/views/dashboard/Forms/CitizenAttentionForm" ),
      CommunityForm: () => import( "@/views/dashboard/Forms/CommunityAttentionForm" ),
      ProgrammingForm: () => import('@/views/dashboard/Forms/ProgrammingForm'),
      EventDetailsMini: () => import( "@/views/dashboard/Events/EventsMini" ),
      CancelEvent: () => import('@/views/dashboard/Events/CancelEvent'),
      ReprogramEvent: () => import('@/views/dashboard/Events/ReprogramEvent'),
    },
    data: function () {
      return {
        create_dialog: false,
        create_title: moment().format('YYYY-MM-DD'),

        reprogram_dialog: false,
        cancel_dialog: false,
        form: new CitizenAttention(),

        //** Formulario
        tab: null,
        menu: false,
        professionals: [],
        search: null,

        start: null,
        end: null,
        professional: null,
        selectedEvent: {},
        selectedElement: null,
        selectedOpen: false,
        events: [],
        focus: moment().format('YYYY-MM-DD'),
        type: 'month',
        typeToLabel: {
          'month': 'Calendar.Month',
          'week': 'Calendar.Week',
          'day': 'Calendar.Day',
          '4day': 'Calendar.4day',
        },
      }
    },
    created: function () {
      this.getEvents();
      this.getProfessionals();
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getEvents);
    },
    methods: {
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getEvents: _.throttle(function () {
        const  { start, end, professional } = this;

        let citizen = (new CitizenAttention()).calendar({ params: { start: start ? start.date : null, end: end ? end.date : null, professional: professional } });
        let programming = (new Programming()).calendar({ params: { start: start ? start.date : null, end: end ? end.date : null, professional: professional } });
        let commitments = (new CommitmentCalendar()).index({ params: { start: start ? start.date : null, end: end ? end.date : null, professional: professional } });
        let community = (new CommunityAttention()).calendar({ params: { start: start ? start.date : null, end: end ? end.date : null, professional: professional } });

        let that = this;
        this.setLoading( true );

        this.axios.all( [citizen, programming, commitments, community] )
          .then( that.axios.spread(function (citizen_response, programming_response, commitment_response, community_response ) {
            let citizen = citizen_response.data.map( event => {
              return {
                name: `${event.id} - ${that.$t('Dashboard.CitizenAttention')}`,
                start: event.execution_date,
                date: event.execution_date,
                schedule: event.citizen_attention_schedule,
                working_day: event.citizen_attention_schedule_id,
                is_citizen: true,
                ...event
              }
            })

            let community = community_response.data.map( event => {
              return {
                id: event.id,
                name: `${event.id} - ${that.$t('Dashboard.CommunityAttention')}`,
                start: event.execution_date,
                date: event.execution_date,
                schedule: `${event.initial_hour} - ${event.final_hour}`,
                is_community: true,
                ...event
              }
            })

            let programming = programming_response.data.map( event => {
              return {
                date: event.execution_date,
                schedule: `${event.initial_hour} - ${event.final_hour}`,
                is_citizen: false,
                ...event
              }
            });

            let commits = commitment_response.data.map( event => {
              return {
                name: `${event.id} - ${that.$t('Input.Commitment').capitalize()}`,
                start: event.date,
                date: event.date,
                schedule: event.date,
                is_commit: true,
                color: event.traced ? 'grey-light' : 'pink',
                ...event
              }
            })
            that.events = programming.concat( citizen, commits, community );
          }))
          .catch(error => this.notifyOnError( error.message ))
          .finally(() => this.setLoading( false ))


      }, 1000),
      show ( day ) {

        const open = () => {
          this.create_title = day.date;
          setTimeout(() => this.create_dialog = true, 200)
        }

        if (this.create_dialog) {
          this.create_dialog = false
          setTimeout(open, 200)
        } else {
          open()
        }
      },
      viewDay({date}) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor(event) {
        return event.color
      },
      setToday() {
        this.focus = this.today
      },
      prev() {
        this.$refs.calendar.prev()
      },
      next() {
        this.$refs.calendar.next()
      },
      showEvent({nativeEvent, event}) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange({start, end}) {
        this.start = start
        this.end = end
        this.getEvents( start.date, end.date );
      },
      onClose: function () {
        this.selectedOpen = false;
        this.selectedEvent = {};
        this.cancel_dialog = false;
        this.reprogram_dialog = false;
      },
      onCancel: function ( event ) {
        this.cancel_dialog = true;
        if ( event.id && event.is_citizen ) {
          this.form = new CitizenAttention();
        } else {
          this.form = new Programming();
        }
      },
      onReprogram: function (event) {
        this.reprogram_dialog = true;
        if ( event.id && event.is_citizen ) {
          this.form = new CitizenAttention(event);
        } else {
          this.form = new Programming( event );
        }
      },
      onDetails: function (event) {
        if ( event.is_citizen ) {
          this.$router.push({name: 'CitizenAttentionDetails', params: { id: event.id, event: event } })
        } else if (event.is_community) {
          this.$router.push({name: 'CommunityAttentionDetails', params: { id: event.id, event: event } })
        } else {
          this.$router.push({name: 'ProgrammingDetails', params: { id: event.id, event: event } })
        }
      },
      onProfessional: function (id) {
        if ( id ) {
          this.professional = id;
        } else {
          this.professional = null;
        }
        this.getEvents();
      }
    },
    computed: {
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
      title() {
        const {start, end} = this
        if (!start || !end) {
          return this.responsive ? this.moment().locale(this.$i18n.locale).format( 'MMM' ) : this.moment().locale(this.$i18n.locale).format( 'MMMM YYYY' )
        }

        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? startMonth : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? startYear : endYear

        const startDay = start.day
        const endDay = end.day

        switch (this.type) {
          case 'month':
            return `${suffixMonth} ${suffixYear}`
          case 'week':
          case '4day':
            return `${startMonth} ${startDay} - ${suffixMonth} ${endDay}  ${suffixYear}`
          case 'day':
            return `${startMonth} ${startDay} ${startYear}`
        }
        return ''
      },
      monthFormatter() {
        return this.$refs.calendar.getFormatter({
          timeZone: 'America/Bogota', month: 'long',
        })
      },
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style lang="scss" scoped>
  .v-speed-dial {
    position: absolute;
    z-index: 4;
  }

  body, html, #app, #calendar {
    width: 100%;
    height: 100%;
  }


</style>
