<template>
  <v-container id="citizen-attention" tag="section">
    <v-row>
      <v-col cols="12">
        <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.ProgrammingDetails')" inline>
          <loading-event v-if="loading"></loading-event>
          <event-details v-else :with-toolbar="false" :event="item">

            <!-- Reprogrammed -->
            <v-list-item v-if="event.is_covenant">
              <v-list-item-icon>
                <v-icon>mdi-chevron-right</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ event.is_covenant }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <!-- Reprogrammed -->
            <v-list-item v-if="event.is_agreement">
              <v-list-item-icon>
                <v-icon>mdi-chevron-right</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ event.is_agreement }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <!-- Reprogrammed -->
            <v-list-item v-if="event.is_work_table">
              <v-list-item-icon>
                <v-icon>mdi-chevron-right</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ event.is_work_table }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

          </event-details>

          <v-card-actions v-if="!responsive">
            <v-spacer></v-spacer>
            <v-btn color="info" :loading="isLoading" to="/programmings">
              <v-icon left>
                mdi-arrow-left
              </v-icon> {{$t('Core.Back')}}
            </v-btn>
            <v-btn color="danger" :disabled="isLoading" class="white--text" :loading="isLoading" v-if="item.deleted_at === null &&  item.professional === $user.id" @click="onCancel">
              <v-icon left>
                mdi-close
              </v-icon> {{$t('Core.Cancel')}}
            </v-btn>
            <v-btn color="warning" :disabled="isLoading" :loading="isLoading" v-if="item.deleted_at === null &&  item.professional === $user.id" @click="onReprogram">
              <v-icon left>
                mdi-history
              </v-icon> {{$t('Input.Reprogram').capitalize()}}
            </v-btn>
            <v-btn color="success" :disabled="isLoading" :loading="isLoading" v-if="item.deleted_at === null &&  item.professional === $user.id" @click="onExec(item)">
              <v-icon left>mdi-clipboard-text</v-icon> {{ $t('Dashboard.RegisterExecution') }}
            </v-btn>
            <v-btn color="pink" class="white--text" :disabled="isLoading" :loading="isLoading" :href="form.excel( item.id )" target="_blank">
              <v-icon color="white" left>mdi-cloud-download</v-icon> {{ $t('Input.DownloadAsExcel') }}
            </v-btn>
          </v-card-actions>
        </material-card>
      </v-col>
      <v-col v-if="item.reprogramming && item.reprogramming.length > 0 && !isLoading" cols="12">
        <h4>{{$t('Dashboard.ProgrammingHistory')}}</h4>
        <v-timeline
          align-top
          dense
        >
          <v-timeline-item
            v-for="timeline in item.reprogramming"
            :key="timeline.id"
            color="info"
            icon="mdi-calendar"
            fill-dot
          >
            <v-card class="pa-6">
              <v-list dense>
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon>mdi-calendar</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{ timeline.date }}</v-list-item-title>
                    <v-list-item-subtitle>{{ $t('Input.OldDate').capitalize() }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <!-- Updated At -->
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon>mdi-calendar</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{ timeline.initial_hour }} - {{ timeline.final_hour }}</v-list-item-title>
                    <v-list-item-subtitle>{{ $t('Input.OldTime').capitalize() }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>

              <h6 class="text-uppercase font-weight-bold">{{ $t('Input.ReprogrammingReason') }}</h6>
              <div
                class="caption grey--text"
                v-text="timeline.reason"
              ></div>

              <v-divider class="mb-3" />

              <div class="text-uppercase caption">{{  $t('Input.CreatedAt').capitalize() }} {{ timeline.created_at }}</div>

            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-col>
      <v-col cols="12">
        <material-card v-if="!item.deleted_at">
          <template v-slot:heading>
            <v-tabs
              v-model="tabs"
              background-color="transparent"
              slider-color="white"
            >
              <v-tab :disabled="!item.process_id" class="white--text mr-3">
                <v-icon class="mr-2">
                  mdi-playlist-check
                </v-icon>
                {{ $t('Input.Details').capitalize() }}
              </v-tab>
              <v-tab class="white--text mr-3">
                <v-icon class="mr-2">
                  mdi-human
                </v-icon>
                {{ $t('Input.Attendance') }}
              </v-tab>
              <v-tab class="white--text mr-3">
                <v-icon class="mr-2">
                  mdi-paperclip
                </v-icon>
                {{ $t('Input.Files') }}
              </v-tab>
              <v-tab class="white--text">
                <v-icon class="mr-2">
                  mdi-camera
                </v-icon>
                {{ $t('Input.Images') }}
              </v-tab>
              <v-tab class="white--text">
                <v-icon class="mr-2">
                  mdi-calendar-text
                </v-icon>
                {{ $t('Input.Commitment') }}
              </v-tab>
            </v-tabs>
          </template>
          <v-tabs-items v-model="tabs" class="transparent">

            <v-tab-item :disabled="!item.process_id">
              <v-card-text>
                <programming-details-form v-if="item.deleted_at === null && item.professional === $user.id && !hasActivities" :event="item">
                </programming-details-form>
                <details-table :themes="item.themes" :activities="item.activities"></details-table>
              </v-card-text>
            </v-tab-item>

            <v-tab-item>
              <v-card-text>
                <attendance-table :with-create-btn="item.professional === $user.id"></attendance-table>
              </v-card-text>
            </v-tab-item>

            <v-tab-item>
              <v-card-text>
                <files-table :with-create-btn="item.deleted_at === null && item.professional === $user.id"></files-table>
              </v-card-text>
            </v-tab-item>

            <v-tab-item>
              <v-card-text>
                <ImageCarousel :with-create-btn="item.deleted_at === null && item.professional === $user.id"></ImageCarousel>
              </v-card-text>
            </v-tab-item>

            <v-tab-item>
              <v-card-text>
                <CommitmentTable :with-create-btn="item.deleted_at === null && item.professional === $user.id"></CommitmentTable>
              </v-card-text>
            </v-tab-item>

          </v-tabs-items>
        </material-card>
      </v-col>
    </v-row>



    <cancel-event  :show="cancel_dialog" :on-close="onClose" :form="form" :id="$route.params.id"></cancel-event>
    <reprogram-event :show="reprogram_dialog" :on-close="onClose" :form="form" :id="$route.params.id"></reprogram-event>

    <v-speed-dial
      v-if="responsive"
      v-model="fab"
      :disabled="isLoading" :loading="isLoading"
      dark
      fixed
      bottom
      right
      fab
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="info"
          dark
          fab
        >
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn color="info" small dark fab to="/programmings">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <v-btn color="red" v-if="item.deleted_at === null &&  item.professional === $user.id"  small dark fab  @click="onCancel">
        <v-icon>
          mdi-close
        </v-icon>
      </v-btn>
      <v-btn color="warning" v-if="item.deleted_at === null &&  item.professional === $user.id"  small dark fab  @click="onReprogram">
        <v-icon>
          mdi-history
        </v-icon>
      </v-btn>
      <v-btn color="success" v-if="item.deleted_at === null &&  item.professional === $user.id" small dark fab @click="onExec(item)">
        <v-icon>mdi-clipboard-text</v-icon>
      </v-btn>
      <v-btn color="pink" small dark fab :href="form.excel( item.id )" target="_blank">
        <v-icon>mdi-cloud-download</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>
</template>

<script>
  import {Programming} from "@/models/services/Programming";

  export default {
    name: "ProgrammingDetails",
    components: {
      EventDetails: () => import( "@/views/dashboard/Events/Events" ),
      CancelEvent: () => import('@/views/dashboard/Events/CancelEvent'),
      ReprogramEvent: () => import('@/views/dashboard/Events/ReprogramEvent'),

      ProgrammingDetailsForm: () => import("@/views/dashboard/Forms/ProgrammingDetailsForm"),
      DetailsTable: () => import("@/views/dashboard/Tables/DetailsTable"),
      ImageCarousel: () => import("@/views/dashboard/Tables/ImageSlider"),
      FilesTable: () => import("@/views/dashboard/Tables/FilesTable"),
      AttendanceTable: () => import("@/views/dashboard/Tables/ExecutionTable"),
      CommitmentTable: () => import("@/views/dashboard/Tables/CommitmentsTable"),
    },
    props: {
      event: {
        type: Object,
        default: () => ({})
      }
    },
    data: () => ({
      loading: false,
      fab: false,
      tabs: null,
      cancel_dialog: false,
      reprogram_dialog: false,
      item: {},
      form: new Programming(),
    }),
    mounted: function () {
      this.$bus.$on('refreshExecution', this.getProgramming);
    },
    created: function () {
      if ( this.$route.params.id ) {
        if ( !this.event.id ) {
          this.getProgramming();
        } else {
          this.item = this.event;
          this.item.date = this.event.execution_date;
          this.item.reason = this.event.reason_for_cancellation;
        }
      } else {
        this.$router.push({name: 'Error'})
      }
    },
    methods: {
      getProgramming: function () {
        this.loading = true;
        ( new Programming() ).show( this.$route.params.id )
          .then((response) => {
            this.item = response.data;
            this.item.date = response.data.execution_date;
            this.item.reason = response.data.reason_for_cancellation;
          })
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({name: 'Error', params: { code: error.code, text: error.message }})
            } else {
              this.notifyOnError( error.message );
            }
          })
          .finally(() => this.loading = false)
      },
      onExec: function (event) {
        this.$router.push({name: 'Execution', params: {id: event.id, event: event}})
      },
      onCancel: function () {
        const open = () => {
          setTimeout(() => this.cancel_dialog = true, 10)
        }
        if (this.cancel_dialog) {
          this.cancel_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onReprogram: function () {
        const open = () => {
          this.form = new Programming(this.item);
          setTimeout(() => this.reprogram_dialog = true, 10)
        }
        if (this.reprogram_dialog) {
          this.reprogram_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.cancel_dialog = false;
        this.reprogram_dialog = false;
      },
    },
    computed: {
      hasActivities: function () {
        return this.item.hasOwnProperty('activities') && this.item.activities.length > 0
      }
    },
    beforeDestroy() {
      this.$bus.$off('refreshExecution')
    }
  }
</script>

<style lang="scss" scoped>

</style>