<template>
  <v-container id="summary" tag="section">
    <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.Summary')" inline>
      <v-card-text>
        <SummaryProgrammingTable>
        </SummaryProgrammingTable>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "Summary",
    components: {
      SummaryProgrammingTable: () => import('@/views/dashboard/Tables/SummaryProgrammingTable')
    }
  }
</script>

<style scoped>

</style>