<template>
    <material-card class="v-card-login" :color="headerColor" :class="{ 'v-card-hidden': cardHidden }">

        <v-card slot="header" color="transparent" class="elevation-0 text-center">
            <slot name="title"></slot>
            <div class="social-line">
                <slot name="buttons"></slot>
            </div>
        </v-card>

        <v-card-text>
            <slot name="description"></slot>
            <slot name="inputs"></slot>
        </v-card-text>

        <v-card-actions>
            <slot name="footer"></slot>
        </v-card-actions>
    </material-card>
</template>

<script>
    export default {
        name: "LoginCard",
        props: {
            headerColor: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                cardHidden: true
            };
        },
        beforeMount() {
            setTimeout(this.showCard, 400);
        },
        methods: {
            showCard: function() {
                this.cardHidden = false;
            },
            getClass: function(headerColor) {
                return "v-card-header-" + headerColor + "";
            }
        }
    }
</script>

<style scoped>

</style>