<template>
  <v-card class="text-center v-card--testimony">
    <div class="pt-6">
      <v-icon
        color="black"
        x-large
      >
        mdi-format-quote-close
      </v-icon>
    </div>

    <v-card-text
      class="description font-weight-light font-italic mb-3"
      v-text="blurb"
    />

    <div
      class="title font-weight-light mb-2"
      v-text="author"
    ></div>

    <div
      class="category font-weight-regular text-uppercase grey--text"
      v-text="handle"
    ></div>

    <v-avatar
      class="elevation-12"
      color="grey"
      size="128"
    >
      <v-img
        v-if="avatar"
        :alt="author"
        :src="avatar"
      />
      <span v-else class="white--text headline">{{ initials( author ) }}</span>
    </v-avatar>

    <div />
  </v-card>
</template>

<script>
  export default {
    name: 'Testimony',

    props: {
      author: {
        type: String,
        default: ''
      },
      avatar: {
        type: String,
        default: 'https://demos.creative-tim.com/material-dashboard-pro/assets/img/faces/card-profile1-square.jpg'
      },
      blurb: {
        type: String,
        default: ''
      },
      handle: {
        type: [String, Number],
        default: ''
      }
    },
    methods: {
      initials ( text ) {
        if (!text) return ''
        let initials = '';
        text.split(' ').forEach(val => {
          initials += val.substring(0, 1)
        })
        return initials.toUpperCase()
      }
    }
  }
</script>

<style lang="sass">
  .v-card--testimony
    padding-bottom: 72px
    margin-bottom: 64px

    .v-avatar
      position: absolute
      left: calc(50% - 64px)
      top: calc(100% - 64px)
</style>
