<template>
  <v-progress-linear
    :active="loadingPage"
    :color="color"
    :indeterminate="true"
    class="ma-0"
    height="4"
    style="top: -2px;"
  ></v-progress-linear>
</template>

<script>
  export default {
    name: "PageProgressBar",
    props: {
      color: String,
    },
  }
</script>

<style>
  .v-progress-linear {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }
</style>