<template>
    <v-snackbar :color="snack_type" :bottom="bottom" :top="top" :left="left" :right="right" v-model="inputValue" dark>
        <v-icon color="white" class="mr-3">
            {{ snack_icon }}
        </v-icon>

        {{ snack_message }}

        <v-icon size="16" @click="onClose">
            mdi-close-circle
        </v-icon>
    </v-snackbar>
</template>

<script>
    import {
        mapMutations,
        mapState
    } from 'vuex'

    export default {
        name: "Snackbar",
        data: () => ({
            color: null,
            colors: [
                'purple',
                'info',
                'success',
                'warning',
                'error'
            ],
            top: false,
            bottom: true,
            left: false,
            right: false,
        }),
        methods: {
            onSnackSetPosition () {
                this.top = false;
                this.bottom = false;
                this.left = false;
                this.right = false;

                for (const loc of this.position) {
                    this[loc] = true;
                }
            },
            onClose: function () {
                this.$emit('on-close')
            },
            ...mapMutations('app', ['setSnack', 'setSnackMessage', 'setSnackType', 'setSnackIcon', 'setSnackPosition']),
        },

        created: function () {
            this.$store.watch(state => state.app.snack, () => {
                if (!this.$store.state.app.snack ) {
                    this.setSnackMessage( '' );
                }
            });
        },

        computed: {
            ...mapState('app', ['snack', 'snack_message', 'snack_icon', 'snack_position', 'snack_type']),
            inputValue: {
                get () {
                    return this.$store.state.app.snack
                },
                set (val) {
                    this.setSnack( val )
                }
            },
        },
        watch: {
            snack_position: function () {
                this.onSnackSetPosition();
            }
        }
    }
</script>

<style scoped>

</style>