<template>
    <v-system-bar :color="accentColor" lights-out  app fixed dark>
        <v-spacer></v-spacer>
        <v-icon>mdi-wifi-strength-off-outline</v-icon>
        <v-icon>mdi-signal-off</v-icon>
        <v-icon>mdi-battery-alert</v-icon>
        <span id="clock">{{ clock }}</span>
    </v-system-bar>
</template>

<script>
    export function getHourTime (h) {
        return h >= 12 ? 'PM' : 'AM'
    }

    export function getZeroPad (n) {
        return (parseInt(n, 10) >= 10 ? '' : '0') + n
    }

    export default {
        name: "System",
        data: () => ({
            hours: 0,
            minutes: 0,
            seconds: 0,
            hour_time: ''
        }),
        mounted: function () {
            this.$options.interval = setInterval(this.updateDateTime, 1000);
        },
        beforeDestroy () {
            clearInterval(this.$options.interval);
        },
        methods: {
            updateDateTime () {
                let now = new Date()
                this.hours = now.getHours()
                this.minutes = getZeroPad(now.getMinutes())
                this.seconds = getZeroPad(now.getSeconds())
                this.hour_time = getHourTime(this.hours)
                this.hours = this.hours % 12 || 12
            }
        },
        computed: {
            clock: function () {
                return `${this.hours}:${this.minutes}:${this.seconds} ${this.hour_time}`
            }
        }
    }
</script>

<style scoped>

</style>
