<template>
  <div>
    <v-data-iterator
      :items="records"
      :items-per-page.sync="itemsPerPage"
      item-key="id"
      :loading="isLoading"
      :footer-props="{ 'items-per-page-options': itemsPerPageArray }"
      :loading-text="$t('Core.Loading')"
    >
      <template v-slot:header>
        <v-toolbar
          color="transparent"
          class="mb-1 elevation-0"
        >
          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="12">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         v-if="withCreateBtn"
                         class="mr-2 my-2"
                         @click="dialog_form = true"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Create')}}</span>
              </v-tooltip>

              <slot name="header"></slot>

              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         :loading="isLoading"
                         :disabled="isLoading"
                         @click="getRecords"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>
            </v-col>
          </v-row>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.id" cols="12" lg="6">
            <v-hover v-slot:default="{ hover }">
              <material-card  :elevation="hover ? 12 : 2" color="info" icon="mdi-ballot" :title="`${item.id} - ${item.responsable}`" inline>

                <v-card-text class="pb-0">
                  <p class="description">{{ item.description }}</p>
                  <span class="caption">{{ $t('Input.CreatedAt').capitalize() }}: {{ item.created_at }}</span>
                  <v-divider></v-divider>
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="tracing in item.tracings"
                      :key="tracing.id"
                    >
                      <v-expansion-panel-header>{{ $t('Input.Tracing').capitalize() }}  # {{ tracing.id }}</v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-card elevation="0">
                          <v-card-text>
                            <p class="description">{{ tracing.description }}</p>
                            <span class="caption">{{ $t('Input.CreatedAt').capitalize() }}: {{ tracing.created_at }}</span>
                          </v-card-text>
                          <v-card-actions>
                            <span class="caption">{{ $t('Input.Date').capitalize() }} {{ $t('Input.Tracing') }}: {{ tracing.date | card_title_dates( $i18n.locale, titleInResponsive ) }}</span>
                            <v-spacer></v-spacer>
                            <v-tooltip top>
                              <template v-slot:activator="{ on }">
                                <v-btn color="danger" v-on="on" small  v-if="withCreateBtn" fab class="mr-2" @click="onDeleteTracing(tracing.id, item.id)">
                                  <v-icon color="white">
                                    mdi-close
                                  </v-icon>
                                </v-btn>
                              </template>
                              <span>{{$t('Core.Delete')}}</span>
                            </v-tooltip>
                          </v-card-actions>
                        </v-card>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card-text>

                <v-card-actions>
                  <span class="caption">{{ $t('Input.Date').capitalize() }}: {{ item.date | card_title_dates( $i18n.locale, titleInResponsive ) }}</span>
                  <v-spacer></v-spacer>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info" v-on="on" small v-if="withCreateBtn" fab class="mr-2" @click="onTracing(item)">
                        <v-icon color="white">
                          mdi-radar
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{ `${$t('Core.Add')} ${$t('Input.Tracing').capitalize()}` }}</span>
                  </v-tooltip>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="danger" v-on="on" small  v-if="withCreateBtn" fab class="mr-2" @click="onDelete(item)">
                        <v-icon color="white">
                          mdi-close
                        </v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Delete')}}</span>
                  </v-tooltip>
                </v-card-actions>

              </material-card>
            </v-hover>
          </v-col>
        </v-row>
      </template>
      <template  v-slot:no-data>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>
      <template v-slot:no-results>
        <core-empty-state class="my-2" icon="mdi-ballot" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

    </v-data-iterator>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onClose">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delete_dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onCloseTracing">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirmTracing">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_form" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ $t('Core.Create') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_form = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <commitment-form></commitment-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_tracing" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ `${$t('Core.Add')} ${$t('Input.Tracing').capitalize()}` }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_tracing = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <tracing-form :commitment-id="commitment_id"></tracing-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import {Commitment} from "@/models/services/Commitment";
  import {Tracing} from "@/models/services/Tracing";

  export default {
    name: "CommitmentsTable",
    props: {
      withCreateBtn: {
        default: false
      },
      programming_id: {
        type: Number
      }
    },
    components: {
      CommitmentForm: () => import("@/views/dashboard/Forms/CommitmentForm"),
      TracingForm: () => import("@/views/dashboard/Forms/TracingForm"),
    },
    data: vm => ({
      dialog: false,
      dialog_form: false,
      dialog_tracing: false,
      delete_dialog: false,
      id: null,
      commitment_id: null,
      records: [],
      total: 0,
      itemsPerPage: 2,
      itemsPerPageArray: [2, 4, 8, 12],
      program: null,
      form: new Commitment( vm.program ),
      tracing_form: null,
      tracing_id: null,
    }),
    created() {
      if ( this.programming_id ) {
        this.program = this.programming_id;
        this.form = new Commitment( this.program );
      } else {
        this.program = this.$route.params.id;
        this.form = new Commitment( this.program );
      }
      this.getRecords();
    },
    mounted: function () {
      this.$bus.$on('refreshCommitments', this.getRecords)
    },
    methods: {
      getRecords: function () {
        this.form.index()
          .then(response => this.records = response.data)
          .catch(error => this.notifyOnError(error.message))
      },
      onDelete: function (event) {
        this.id = event.id;
        this.dialog = true;
      },
      onConfirm: function () {
        this.form.destroy( this.id )
          .then(response => this.notifyOnSuccess(response.data))
          .then(() => this.getRecords())
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onClose())
      },
      onClose: function () {
        this.id = null;
        this.dialog = false;
      },
      onTracing: function (item) {
        const open = () => {
          this.commitment_id = item.id;
          setTimeout(() => this.dialog_tracing = true, 100)
        }

        if (this.dialog_tracing) {
          this.dialog_tracing = false
          setTimeout(open, 100)
        } else {
          open()
        }
      },
      onConfirmTracing: function () {
        this.tracing_form.destroy( this.tracing_id )
          .then(response => this.notifyOnSuccess(response.data))
          .then(() => this.getRecords())
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onClose())
      },
      onDeleteTracing: function (tracing_id, commitment_id) {
        const open = () => {
          this.tracing_id = tracing_id;
          this.tracing_form = new Tracing( this.$route.params.id, commitment_id );
          setTimeout(() => this.delete_dialog = true, 100)
        }

        if (this.dialog_tracing) {
          this.onCloseTracing();
          setTimeout(open, 100)
        } else {
          open()
        }
      },
      onCloseTracing: function () {
        this.tracing_form = null;
        this.tracing_id = null;
        this.delete_dialog = false;
      },
    },
    computed: {
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
    },
    watch: {
      programming_id: function (id) {
        if ( id ) {
          this.program = id;
          this.form = new Commitment( this.program );
          this.getRecords()
        } else {
          this.program = this.$route.params.id;
          this.form = new Commitment( this.program );
        }
      }
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshCommitments');
    }
  }
</script>

<style scoped>

</style>