<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                  :items="records" show-expand item-key="id" :loading="isLoading"
                  :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >
      <template v-slot:top>
    
        <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="6">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         @click="dialog_form = true"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Create')}}</span>
              </v-tooltip>
              <slot name="header"></slot>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         @click="getRecords"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         v-if="!responsive"
                         class="mr-2 my-2"
                         @click="filter = true"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon >mdi-filter-variant</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Filters')}}</span>
              </v-tooltip>
        
            </v-col>
            <v-col cols="12" class="text-right" sm="12" lg="6">
              <v-text-field
                v-model="query"
                append-icon="mdi-magnify"
                class="ml-auto mr-2 my-2"
                :label="$t('Input.Search')"
                hide-details
                clearable
                single-line
              />
            </v-col>
          </v-row>
        </v-toolbar>
  
      </template>
      
      <template v-slot:item.status="{ item }">
        <v-chip :color="item.status === 'VENCIDO' ? 'red' : 'success'" small ></v-chip>
      </template>
      
      <template v-slot:item.action="{ item }">
    
        <div v-if="!responsive">
  
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info" v-on="on" x-small icon class="mr-2" v-if="item.professional === $user.id" @click="onTracing(item)">
                <v-icon color="info">
                  mdi-radar
                </v-icon>
              </v-btn>
            </template>
            <span>{{ `${$t('Core.Add')} ${$t('Input.Tracing').capitalize()}` }}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="red" v-on="on" x-small icon  v-if="item.professional === $user.id && !item.programming_id" class="mr-2" @click="onDelete(item)">
                <v-icon color="red">
                  mdi-close
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Delete')}}</span>
          </v-tooltip>
        </div>
    
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              v-if="responsive"
              dense
              rounded
              color="success"
              dark
              v-on="on"
            >
              {{ $t('Core.Actions').capitalize() }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" @click="onTracing(item)">
              <v-list-item-icon><v-icon>mdi-close</v-icon></v-list-item-icon>
              <v-list-item-title>{{ `${$t('Core.Add')} ${$t('Input.Tracing').capitalize()}` }}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="item.professional === $user.id && !item.programming_id" :disabled="item.deleted_at !== null" @click="onDelete(item)">
              <v-list-item-icon><v-icon>mdi-close</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.Delete')}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
  
      </template>
  
      <template v-slot:expanded-item="{headers, item}">
        <td :colspan="headers.length">
          <v-row>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">Fecha Firma Compromiso</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.date }}
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">UPZ</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.upz }}
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">Código del parque</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.park_code }}
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">Descripción</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.programming_desc }}
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">Descripción Compromiso</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.description }}
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">Responsable</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.responsable }}
            </v-col>
            <v-col cols="12" sm="12" md="6">
              <div class="font-weight-bold">Profesional</div>
            </v-col>
            <v-col cols="12" sm="12" md="6">
              {{ item.professional_name }}
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row  v-for="tracing in item.tracings"  :key="tracing.id">
            <v-col v-if="!responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Seguimiento</div>
            </v-col>
            <v-col v-if="!responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Fecha</div>
            </v-col>
            <v-col v-if="!responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Descripción</div>
            </v-col>
            <v-col v-if="!responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Fecha de creación</div>
            </v-col>
  
            <v-col v-if="responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Seguimiento</div>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              <div class="font-weight-bold"><v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="red" v-on="on" x-small icon v-if="item.professional === $user.id" class="mr-2" @click="onDeleteTracing(tracing.id, item.id)">
                    <v-icon color="red">
                      mdi-close
                    </v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Delete')}}</span>
              </v-tooltip> {{ tracing.id }}</div>
            </v-col>
            <v-col v-if="responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Fecha</div>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              {{ tracing.date }}
            </v-col>
            <v-col v-if="responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Descripción</div>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              {{ tracing.description }}
            </v-col>
            <v-col v-if="responsive" cols="12" sm="12" md="3">
              <div class="font-weight-bold">Fecha de creación</div>
            </v-col>
            <v-col cols="12" sm="12" md="3">
              {{ tracing.created_at }}
            </v-col>
          </v-row>
        </td>
      </template>
      
      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>
  
      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onClose">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delete_dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onCloseTracing">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirmTracing">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_form" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ $t('Core.Create') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_form = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <commitment-form></commitment-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_tracing" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ `${$t('Core.Add')} ${$t('Input.Tracing').capitalize()}` }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_tracing = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <tracing-form :commitment-id="commitment_id"></tracing-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  
    <v-dialog v-model="filter" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
    
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t('Core.Filters').capitalize() }}
          </v-toolbar-title>
        
          <div class="flex-grow-1"></div>
        
          <v-btn icon @click="filter = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
      
        <v-card-text class="mb-0">
          <v-form @submit.prevent="onSubmit">
            <v-container>
              <v-row>
                <!-- Start Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="startDate"
                    v-model="modal"
                    :return-value.sync="start_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        :loading="isLoading"
                        :disabled="isLoading"
                        id="start_date"
                        name="start_date"
                        clearable
                        required
                        v-model="start_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="start_date" :max="moment( final_date ).toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.startDate.save(start_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
              
                <!-- Final Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="endDate"
                    v-model="modal2"
                    :return-value.sync="final_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        :loading="isLoading"
                        :disabled="isLoading"
                        id="final_date"
                        name="final_date"
                        clearable
                        v-model="final_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="final_date" :min="moment( start_date ).subtract(1, 'day').toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.endDate.save(final_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
              
                <!-- Professionals -->
                <v-col cols="12">
                  <v-select
                    v-model="professional"
                    clearable
                    multiple
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="professionals"
                    id="professionals"
                    name="professionals"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account-multiple"
                    :label="$t('Input.Professional').capitalize()"
                  ></v-select>
                </v-col>
              
                <!-- Type -->
                <v-col cols="12">
                  <v-select
                    v-model="type_id"
                    clearable
                    multiple
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="types"
                    id="type_id"
                    name="type_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account-multiple"
                    :label="$t('Input.Activities').capitalize()"
                  ></v-select>
                </v-col>
              
                <!-- Park ID -->
                <v-col cols="12" sm="12" lg="12">
                  <v-autocomplete
                    v-model="park_id"
                    autocomplete="off"
                    :hint="$t('Input.HintPark')"
                    prepend-icon="mdi-pine-tree"
                    clearable
                    :loading="isLoading"
                    hide-no-data
                    hide-selected
                    id="park_id"
                    name="park_id"
                    :label="$t('Input.Park').capitalize()"
                    :search-input.sync="search"
                    :items="parks"
                    item-text="name"
                    item-value="id"
                    required
                  ></v-autocomplete>
                </v-col>
              
                <v-col cols="12" class="text-right">
                  <v-btn type="submit" color="info" :loading="isLoading" :disabled="isLoading" @submit.prevent="onSubmit">
                    <v-icon left color="white">mdi-history</v-icon> {{ $t('Core.Send').capitalize() }}
                  </v-btn>
                  <v-btn color="info" :loading="isLoading" :disabled="isLoading" @click="onExcel">
                    <v-icon left color="white">mdi-file</v-icon> Excel
                  </v-btn>
                </v-col>
            
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
  
    </v-dialog>
    <v-fab-transition>
      <v-btn
        v-if="responsive"
        @click="filter = true"
        color="success"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-filter-variant</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>

<script>
  import {FollowingUpOnCommitment} from "@/models/services/FollowingUpOnCommitment";
  import {FollowingUpOnCommitmentTracings} from "@/models/services/FollowingUpOnCommitmentTracings";
  import {Park} from "@/models/services/Park";

  export default {
    name: "FollowingCommitmentsTable",
    props: {
      withCreateBtn: {
        default: false
      },
    },
    components: {
      CommitmentForm: () => import("@/views/dashboard/Forms/FollowingCommitmentForm"),
      TracingForm: () => import("@/views/dashboard/Forms/FollowingTracingForm"),
    },
    data: vm => ({
      dialog: false,
      dialog_form: false,
      dialog_tracing: false,
      delete_dialog: false,
      id: null,
      commitment_id: null,
      records: [],
      total: 0,
      pagination: {},
      expand: false,
      itemsPerPage: 2,
      itemsPerPageArray: [2, 4, 8, 12],
      program: null,
      form: new FollowingUpOnCommitment(),
      tracing_form: null,
      tracing_id: null,
      query: null,
      search: null,
      type_id: null,
      filter: false,
      modal: false,
      modal2: false,
      start_date: null,
      final_date: null,
      park_id: null,
      professionals: [],
      professional: [],
      parks: [],
      columns: [
        { text: '#', width: '100', value: 'id', sortable: true },
        { text: vm.$t('Input.Park').capitalize(), value: 'park', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.ExecutionDate').capitalize(), value: 'programming_date', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.Location').capitalize(), value: 'location', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Status').capitalize(), value: 'status', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false },
      ],
      types: [
        {id: 16,  name: 'MESAS DE TRABAJO', },
        {id: 17,  name: 'ACUERDOS CIUDADANOS', },
        {id: 18,  name: 'PACTOS CIUDADANOS', },
        {id: 31,  name: 'FIRMAS DE ACUERDOS CIUDADANOS', },
      ],
    }),
    created() {
      this.getRecords();
      this.getProfessionals();
    },
    mounted: function () {
      this.$bus.$on('refreshFollowingCommitments', this.getRecords)
    },
    methods: {
      onSubmit: function () {
        this.getRecords();
      },
      onExcel: function () {
        const params = {
          park_id: this.park_id,
          professional: this.professional,
          start_date: this.start_date || this.moment().startOf('month').format('YYYY-MM-DD'),
          final_date: this.final_date || this.moment().endOf('month').format('YYYY-MM-DD'),
          type_id: this.type_id,
        };
        ( new FollowingUpOnCommitment(params) )
          .excel({ responseType: 'blob' })
          .then((response) => {
            const url = window.URL.createObjectURL(new Blob([response]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'SEGUIMIENTOS.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
          .then(() => this.$validator.reset())
          .catch((error) => this.notifyOnError( error.message ))
      },
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getParks: _.debounce(function () {
        const query = this.search;
        (new Park()).index({ params: { query: query } })
          .then((response) => this.parks = response.data)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      getRecords: function () {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const professional = this.professional;
        const withTrashed = this.trashed;
        this.loading = true;

        let params = {
          per_page: itemsPerPage,
          order: sortDesc,
          column: sortBy,
          query: query,
          page: page,
          park_id: this.park_id,
          professional: professional,
          start_date: this.start_date,
          final_date: this.final_date
        };
        
        this.form.index({ params: params })
          .then(response => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch(error => this.notifyOnError(error.message))
      },
      onDelete: function (event) {
        this.id = event.id;
        this.dialog = true;
      },
      onConfirm: function () {
        this.form.destroy( this.id )
          .then(response => this.notifyOnSuccess(response.data))
          .then(() => this.getRecords())
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onClose())
      },
      onClose: function () {
        this.id = null;
        this.dialog = false;
      },
      onTracing: function (item) {
        if (item.programming_id) {
          this.$router.push({name: 'ProgrammingDetails', params: { id: item.programming_id, event: {} } })
        } else {
          const open = () => {
            this.commitment_id = item.id;
            setTimeout(() => this.dialog_tracing = true, 100)
          }

          if (this.dialog_tracing) {
            this.dialog_tracing = false
            setTimeout(open, 100)
          } else {
            open()
          }
        }
      },
      onConfirmTracing: function () {
        this.tracing_form.destroy( this.tracing_id )
          .then(response => this.notifyOnSuccess(response.data))
          .then(() => this.getRecords())
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onCloseTracing())
      },
      onDeleteTracing: function (tracing_id, commitment_id) {
        const open = () => {
          this.tracing_id = tracing_id;
          this.tracing_form = new FollowingUpOnCommitmentTracings( commitment_id );
          setTimeout(() => this.delete_dialog = true, 100)
        }

        if (this.dialog_tracing) {
          this.onCloseTracing();
          setTimeout(open, 100)
        } else {
          open()
        }
      },
      onCloseTracing: function () {
        this.tracing_form = null;
        this.tracing_id = null;
        this.delete_dialog = false;
      },
    },
    computed: {
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
    },
    watch: {
      search (val) {
        val && val.length > 3 && !this.park_id && this.getParks()
      },
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true,
      },
      query: function () {
        this.getRecords()
      },
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshFollowingCommitments');
    }
  }
</script>

<style scoped>

</style>