<template>
  <v-row>
    <v-col cols="12">
      <v-list>
        <v-list-item class="text-right">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info"
                     v-if="withCreateBtn"
                     class="mr-2 my-2"
                     @click="dialog_form = true"
                     :loading="isLoading"
                     :disabled="isLoading"
                     v-on="on"
                     fab
                     small>
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Create')}}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info"
                     class="mr-2 my-2"
                     @click="getRecords"
                     :loading="isLoading"
                     :disabled="isLoading"
                     v-on="on"
                     fab small>
                <v-icon>mdi-reload</v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Refresh')}}</span>
          </v-tooltip>
        </v-list-item>
      </v-list>
    </v-col>

    <v-col class="mx-auto" v-for="image in images"
           :key="image.id" cols="12" sm="12" md="6">
      <v-card>
        <v-list>
          <v-list-item class="text-right">
            <v-spacer></v-spacer>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="red" v-on="on" v-if="withCreateBtn" small icon @click="onDelete(image)">
                  <v-icon>
                    mdi-close
                  </v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Delete')}}</span>
            </v-tooltip>
          </v-list-item>
        </v-list>
        <v-img
          max-height="500"
          :src="image.path"
          :lazy-src="image.path"
        />
        <v-card-text>
          <v-list two-line>
            <v-list-item>
              <v-list-item-avatar>
                <v-icon>{{image.confirmation ? 'mdi-check' : 'mdi-close' }}</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  <v-btn color="info"  x-small :href="image.path" target="_blank">
                    <v-icon left>
                      mdi-cloud-download
                    </v-icon>
                    {{ image.file_name }}
                  </v-btn>
                </v-list-item-title>
                <v-list-item-subtitle>{{ image.created_at }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-text>
          {{ image.description }}
        </v-card-text>
      </v-card>
    </v-col>

    <v-dialog v-model="dialog_form" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ $t('Dashboard.RegisterExecution') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_form = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <image-form></image-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onClose">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
  import {ProgrammingImage} from "@/models/services/ProgrammingImage";

  export default {
    name: "ImageGrid",
    props: {
      withCreateBtn: {
        default: false
      },
      programming_id: {
        type: Number
      }
    },
    components: {
      ImageForm: () => import("@/views/dashboard/Forms/ImageForm"),
    },
    data: vm => ({
      model: null,
      dialog: false,
      dialog_form: false,
      id: null,
      program: null,
      form: new ProgrammingImage(vm.program ),
      images: []
    }),
    created() {
      if ( this.programming_id ) {
        this.program = this.programming_id;
        this.form = new ProgrammingImage( this.program );
      } else {
        this.program = this.$route.params.id;
        this.form = new ProgrammingImage( this.program );
      }
      this.getRecords();
    },
    mounted: function () {
      this.$bus.$on('refreshImages', this.getRecords)
    },
    methods: {
      getRecords: _.debounce(function () {
        this.form.index()
          .then(response => this.images = response.data)
          .catch(error   => this.notifyOnError(error.message))
      }, 700),
      onDelete: function (event) {
        this.id = event.id;
        this.dialog = true;
      },
      onConfirm: function () {
        this.form.destroy( this.id )
          .then(response => this.notifyOnSuccess(response.data))
          .then(() => this.getRecords())
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onClose())
      },
      onClose: function () {
        this.id = null;
        this.dialog = false;
      }
    },
    watch: {
      programming_id: function (id) {
        if ( id ) {
          this.program = id;
          this.model = 0;
          this.form = new ProgrammingImage( this.program );
          this.getRecords()
        } else {
          this.model = 0;
          this.program = this.$route.params.id;
          this.form = new ProgrammingImage( this.program );
        }
      }
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshImages');
    }
  }
</script>

<style scoped>

</style>