<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                  :items="records" show-expand item-key="id" :loading="isLoading"
                  :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >

      <template v-slot:top>

        <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="6">
              <slot name="header"></slot>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         @click="getRecords"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>


              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         v-if="!responsive"
                         class="mr-2 my-2"
                         @click="filter = true"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon >mdi-filter-variant</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Filters')}}</span>
              </v-tooltip>

            </v-col>
            <v-col cols="12" class="text-right" sm="12" lg="6">
              <v-text-field
                v-model="query"
                append-icon="mdi-magnify"
                class="ml-auto mr-2 my-2"
                :label="$t('Input.Search')"
                hide-details
                clearable
                single-line
              />
            </v-col>
          </v-row>
        </v-toolbar>

      </template>

      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

      <template v-slot:item.action="{ item }">

        <div v-if="!responsive">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="red" v-on="on" x-small v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" icon @click="onCancel(item)">
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Cancel')}}</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info" v-on="on" x-small v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" icon @click="onReprogram(item)">
                <v-icon>
                  mdi-history
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Input.Reprogram').capitalize()}}</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="warning" v-on="on" x-small icon @click="onDetails(item)">
                <v-icon>
                  mdi-text-subject
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Details')}}</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="success" v-on="on" x-small icon v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" @click="onExec(item)">
                <v-icon>
                  mdi-clipboard-text
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Input.Execute')}}</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="pink" v-on="on" x-small icon :href="form.excel( item.id )" target="_blank" >
                <v-icon>
                  mdi-cloud-download
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Input.DownloadAsExcel').capitalize()}}</span>
          </v-tooltip>
        </div>

        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              v-if="responsive"
              dense
              rounded
              color="success"
              dark
              v-on="on"
            >
              {{ $t('Core.Actions').capitalize() }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" @click="onCancel(item)">
              <v-list-item-icon><v-icon>mdi-close</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.Cancel')}}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" @click="onReprogram(item)">
              <v-list-item-icon><v-icon>mdi-history</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Input.Reprogram').capitalize()}}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="onDetails(item)">
              <v-list-item-icon><v-icon>mdi-text-subject</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.Details')}}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" @click="onExec(item)">
              <v-list-item-icon><v-icon>mdi-clipboard-text</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Input.Execute')}}</v-list-item-title>
            </v-list-item>
            <v-list-item :href="form.excel( item.id )" target="_blank">
              <v-list-item-icon><v-icon>mdi-cloud-download</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Input.DownloadAsExcel').capitalize()}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

      </template>

      <template v-slot:item.status="{ item }">
        <v-chip color="red" v-if="item.deleted_at" small class="white--text">{{ $t('Dashboard.Canceled') }}</v-chip>
        <v-chip color="success" small v-else>{{ $t('Dashboard.Active') }}</v-chip>
      </template>

      <template v-slot:expanded-item="items">
        <td colspan="7" class="is-left">

          <ul v-if="items.item.is_covenant">
            <li> <p>{{ items.item.is_covenant }}</p> </li>
          </ul>
          <ul v-if="items.item.is_agreement">
            <li> <p>{{ items.item.is_agreement }}</p> </li>
          </ul>
          <ul v-if="items.item.is_work_table">
            <li> <p>{{ items.item.is_work_table }}</p> </li>
          </ul>

          <ul v-if="items.item.reunion_type">
            <li> <p class="font-weight-bold">{{ $t('Input.ReunionType').capitalize() }}: </p>  <p>{{ items.item.reunion_type }}</p> </li>
          </ul>
          <ul v-if="items.item.upz">
            <li> <p class="font-weight-bold">{{ $t('Input.Upz').capitalize() }}: </p>  <p>{{ items.item.upz }}</p> </li>
          </ul>
          <ul v-if="items.item.park">
            <li> <p class="font-weight-bold">{{ $t('Input.Park').capitalize() }}: </p>  <p>{{ items.item.park }}</p> </li>
          </ul>
          <ul v-if="items.item.process">
            <li> <p class="font-weight-bold">{{ $t('Input.Process').capitalize() }}: </p>  <p>{{ items.item.process }}</p> </li>
          </ul>
          <ul v-if="items.item.request">
            <li> <p class="font-weight-bold">{{ $t('Input.RequestType').capitalize() }}: </p>  <p>{{ items.item.request }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Objective').capitalize() }}: </p>  <p>{{ items.item.objective }}</p> </li>
          </ul>
          <ul v-if="items.item.who_summons">
            <li> <p class="font-weight-bold">{{ $t('Input.WhoSummons?').capitalize() }}: </p>  <p>{{ items.item.who_summons }}</p> </li>
          </ul>
          <ul v-if="items.item.which">
            <li> <p class="font-weight-bold">{{ $t('Input.Which?').capitalize() }}: </p>  <p>{{ items.item.which }}</p> </li>
          </ul>
          <ul v-if="items.item.deleted_at">
            <li> <p class="font-weight-bold">{{ $t('Input.CanceledAt').capitalize() }}: </p>  <p>{{ items.item.deleted_at }}</p> </li>
          </ul>
          <ul v-if="items.item.who_cancel">
            <li> <p class="font-weight-bold">{{ $t('Input.WhoCancel?').capitalize() }}: </p>  <p>{{ items.item.who_cancel }}</p> </li>
          </ul>
          <ul v-if="items.item.reason_for_cancellation">
            <li> <p class="font-weight-bold">{{ $t('Input.Reason').capitalize() }}: </p>  <p>{{ items.item.reason_for_cancellation }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Professional').capitalize() }}: </p>  <p>{{ items.item.professional_name }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.CreatedAt').capitalize() }}: </p>  <p>{{ items.item.created_at }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.UpdatedAt').capitalize() }}: </p>  <p>{{ items.item.updated_at }}</p> </li>
          </ul>
        </td>
      </template>

    </v-data-table>


    <cancel-event  :show="cancel_dialog" :on-close="onClose" :form="form" :id="selectedEvent.id"></cancel-event>
    <reprogram-event :show="reprogram_dialog" :on-close="onClose" :form="form" :id="selectedEvent.id"></reprogram-event>

    <v-dialog v-model="filter" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">

      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t('Core.Filters').capitalize() }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="filter = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="mb-0">
          <v-form @submit.prevent="onSubmit">
            <v-container>
              <v-row>
                <!-- Start Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="startDate"
                    v-model="modal"
                    :return-value.sync="start_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        :loading="isLoading"
                        :disabled="isLoading"
                        id="start_date"
                        name="start_date"
                        clearable
                        required
                        v-model="start_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="start_date" :max="moment( final_date ).toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.startDate.save(start_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>

                <!-- Final Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="endDate"
                    v-model="modal2"
                    :return-value.sync="final_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        :loading="isLoading"
                        :disabled="isLoading"
                        id="final_date"
                        name="final_date"
                        clearable
                        v-model="final_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="final_date" :min="moment( start_date ).subtract(1, 'day').toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.endDate.save(final_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>

                <v-col cols="12" sm="12" lg="6">
                  <v-switch
                    v-model="trashed"
                    :label="$t('Dashboard.Cancelled')"
                  ></v-switch>
                </v-col>

                <v-col cols="12" sm="12" lg="6">
                  <v-switch
                    v-model="executed"
                    :label="$t('Dashboard.Executed')"
                  ></v-switch>
                </v-col>

                <!-- Professionals -->
                <v-col cols="12">
                  <v-select
                    v-model="professional"
                    clearable
                    multiple
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="professionals"
                    id="professionals"
                    name="professionals"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account-multiple"
                    :label="$t('Input.Professional').capitalize()"
                  ></v-select>
                </v-col>

                <v-col cols="12" class="text-right">
                  <v-btn type="submit" color="info" :loading="isLoading" :disabled="isLoading" @submit.prevent="onSubmit">
                    <v-icon left color="white">mdi-history</v-icon> {{ $t('Core.Send').capitalize() }}
                  </v-btn>
                </v-col>

              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>

    </v-dialog>

    <v-fab-transition>
      <v-btn
        v-if="responsive"
        @click="filter = true"
        color="success"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-filter-variant</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>

<script>
  import {Programming} from "@/models/services/Programming";

  export default {
    name: "ProgrammingTable",
    components: {
      CancelEvent: () => import('@/views/dashboard/Events/CancelEvent'),
      ReprogramEvent: () => import('@/views/dashboard/Events/ReprogramEvent'),
    },
    data: vm => ({
      filter: false,
      modal: false,
      modal2: false,
      start_date: null,
      final_date: null,


      total: 0,
      pagination: {},
      expand: false,
      query: null,
      trashed: false,
      executed: false,
      selectedEvent: {},
      cancel_dialog: false,
      reprogram_dialog: false,
      form: new Programming(),
      professionals: [],
      professional: [],
      search: null,
      records: [],
      columns: [
        { text: '#', width: '100', value: 'id', sortable: true },
        { text: vm.$t('Input.Place').capitalize(), value: 'place', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.ExecutionDate').capitalize(), value: 'execution_date', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.WorkingDay').capitalize(), value: 'schedule', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Status').capitalize(), value: 'status', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
      ]
    }),
    created: function () {
      this.getRecords();
      this.getProfessionals();
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getRecords)
    },
    methods: {
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
        }
      },
      getRecords: _.debounce(function () {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const professional = this.professional;
        const withTrashed = this.trashed;
        this.loading = true;

        let params = {
          per_page: itemsPerPage,
          order: sortDesc,
          column: sortBy,
          query: query,
          page: page,
          trashed: withTrashed,
          executed: this.executed,
          professional: professional,
          start_date: this.start_date,
          final_date: this.final_date
        };

        (new Programming()).index( { params: params })
          .then(response => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      onCancel: function (event) {
        const open = () => {
          this.selectedEvent = event;
          this.selectedEvent.date = event.execution_date;
          this.selectedEvent.reason = event.reason_for_cancellation;
          setTimeout(() => this.cancel_dialog = true, 10)
        }
        if (this.cancel_dialog) {
          this.cancel_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onReprogram: function (event) {
        const open = () => {
          this.selectedEvent = event;
          this.selectedEvent.date = event.execution_date;
          this.selectedEvent.reason = event.reason_for_cancellation;
          this.selectedEvent.working_day = event.citizen_attention_schedule_id;
          this.form = new Programming(this.selectedEvent);
          setTimeout(() => this.reprogram_dialog = true, 10)
        }
        if (this.reprogram_dialog) {
          this.reprogram_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onDetails: function ( event ) {
        this.selectedEvent = event;
        this.selectedEvent.date = event.execution_date;
        this.selectedEvent.reason = event.reason_for_cancellation;
        this.selectedEvent.working_day = event.citizen_attention_schedule_id;

        this.$router.push({name: 'ProgrammingDetails', params: { id: this.selectedEvent.id, event: this.selectedEvent } })
      },
      onClose: function () {
        this.selectedEvent = {};
        this.cancel_dialog = false;
        this.reprogram_dialog = false;
      },
      onSubmit: function () {
        this.getRecords();
      },
      onExec: function (event) {
        this.$router.push({name: 'Execution', params: {id: event.id, event: event}})
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
    watch: {
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true,
      },
      query: function () {
        this.getRecords()
      }
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style scoped>

</style>