<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                  :items="records" show-expand item-key="id" :loading="isLoading"
                  :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >

      <template v-slot:top>

        <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="6">
              <slot name="header"></slot>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         @click="getRecords"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>


              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         v-if="!responsive"
                         class="mr-2 my-2"
                         @click="filter = true"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon >mdi-filter-variant</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Filters')}}</span>
              </v-tooltip>

            </v-col>
            <v-col cols="12" class="text-right" sm="12" lg="6">
              <v-text-field
                v-model="query"
                append-icon="mdi-magnify"
                class="ml-auto mr-2 my-2"
                :label="$t('Input.Search')"
                hide-details
                clearable
                single-line
              />
            </v-col>
          </v-row>
        </v-toolbar>

      </template>

      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

      <template v-slot:item.action="{ item }">
        <div v-if="!responsive">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-badge :color=" item.count_images > 0 ? 'green' : 'red'">
                <template v-slot:badge>{{ item.count_images }}</template>
                <v-btn color="gray" v-on="on" x-small icon @click="onDetails(item, 4)">
                  <v-icon>
                    mdi-camera
                  </v-icon>
                </v-btn>
              </v-badge>
            </template>
            <span>{{$t('Dashboard.Evidences')}}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-badge :color=" item.has_reprogramming > 0 ? 'green' : 'red'">
                <template v-slot:badge>{{ item.has_reprogramming }}</template>
                <v-btn color="info" v-on="on" x-small icon @click="onDetails(item, 1)">
                  <v-icon>
                    mdi-history
                  </v-icon>
                </v-btn>
              </v-badge>
            </template>
            <span>{{$t('Dashboard.Reprogramming')}}</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-badge :color=" item.count_files > 0 ? 'green' : 'red'">
                <template v-slot:badge>{{ item.count_files }}</template>
                <v-btn color="warning" v-on="on" x-small icon @click="onDetails(item, 3)">
                  <v-icon>
                    mdi-file-document-outline
                  </v-icon>
                </v-btn>
              </v-badge>
            </template>
            <span>{{$t('Dashboard.Files')}}</span>
          </v-tooltip>

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-badge :color=" item.count_commits > 0 ? 'green' : 'red'">
                <template v-slot:badge>{{ item.count_commits }}</template>
                <v-btn color="pink" v-on="on" x-small icon @click="onDetails(item, 5)">
                  <v-icon>
                    mdi-account-badge-horizontal
                  </v-icon>
                </v-btn>
              </v-badge>
            </template>
            <span>{{$t('Dashboard.Commitments')}}</span>
          </v-tooltip>

        </div>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              v-if="responsive"
              dense
              rounded
              color="success"
              dark
              v-on="on"
            >
              {{ $t('Core.Actions').capitalize() }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="onDetails(item, 4)">
              <v-list-item-icon><v-icon>mdi-camera</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Dashboard.Evidences')}} {{ `(${item.count_images})` }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="onDetails(item, 1)">
              <v-list-item-icon><v-icon>mdi-history</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Dashboard.Reprogramming')}} {{ `(${item.has_reprogramming})` }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="onDetails(item, 3)">
              <v-list-item-icon><v-icon>mdi-file-document-outline</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Dashboard.Files').capitalize()}} {{ `(${item.count_files})` }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="onDetails(item, 5)">
              <v-list-item-icon><v-icon>mdi-account-badge-horizontal</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Dashboard.Commitments')}} {{ `(${item.count_commits})` }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
  
  
      <template v-slot:item.park="{ item }">
        {{ item.park.split('/')[0].substr(0, 20) }} ...
      </template>
      
      <template v-slot:item.status="{ item }">
        <v-chip color="red" v-if="item.deleted_at" small class="white--text">{{ $t('Dashboard.Canceled') }}</v-chip>
        <v-chip color="success" small v-else>{{ $t('Dashboard.Active') }}</v-chip>
      </template>

      <template v-slot:expanded-item="items">
        <td colspan="7" class="is-left">

          <ul v-if="items.item.is_covenant">
            <li> <p>{{ items.item.is_covenant }}</p> </li>
          </ul>
          <ul v-if="items.item.is_agreement">
            <li> <p>{{ items.item.is_agreement }}</p> </li>
          </ul>
          <ul v-if="items.item.is_work_table">
            <li> <p>{{ items.item.is_work_table }}</p> </li>
          </ul>

          <ul v-if="items.item.reunion_type">
            <li> <p class="font-weight-bold">{{ $t('Input.ReunionType').capitalize() }}: </p>  <p>{{ items.item.reunion_type }}</p> </li>
          </ul>
          <ul v-if="items.item.upz">
            <li> <p class="font-weight-bold">{{ $t('Input.Upz').capitalize() }}: </p>  <p>{{ items.item.upz }}</p> </li>
          </ul>
          <ul v-if="items.item.park">
            <li> <p class="font-weight-bold">{{ $t('Input.Park').capitalize() }}: </p>  <p>{{ items.item.park }}</p> </li>
          </ul>
          <ul v-if="items.item.place">
            <li> <p class="font-weight-bold">{{ $t('Input.Place').capitalize() }}: </p>  <p>{{ items.item.place }}</p> </li>
          </ul>
          <ul v-if="items.item.process">
            <li> <p class="font-weight-bold">{{ $t('Input.Process').capitalize() }}: </p>  <p>{{ items.item.process }}</p> </li>
          </ul>
          <ul v-if="items.item.request">
            <li> <p class="font-weight-bold">{{ $t('Input.RequestType').capitalize() }}: </p>  <p>{{ items.item.request }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Objective').capitalize() }}: </p>  <p>{{ items.item.objective }}</p> </li>
          </ul>
          <ul v-if="items.item.who_summons">
            <li> <p class="font-weight-bold">{{ $t('Input.WhoSummons?').capitalize() }}: </p>  <p>{{ items.item.who_summons }}</p> </li>
          </ul>
          <ul v-if="items.item.which">
            <li> <p class="font-weight-bold">{{ $t('Input.Which?').capitalize() }}: </p>  <p>{{ items.item.which }}</p> </li>
          </ul>
          <ul v-if="items.item.deleted_at">
            <li> <p class="font-weight-bold">{{ $t('Input.CanceledAt').capitalize() }}: </p>  <p>{{ items.item.deleted_at }}</p> </li>
          </ul>
          <ul v-if="items.item.who_cancel">
            <li> <p class="font-weight-bold">{{ $t('Input.WhoCancel?').capitalize() }}: </p>  <p>{{ items.item.who_cancel }}</p> </li>
          </ul>
          <ul v-if="items.item.reason_for_cancellation">
            <li> <p class="font-weight-bold">{{ $t('Input.Reason').capitalize() }}: </p>  <p>{{ items.item.reason_for_cancellation }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Professional').capitalize() }}: </p>  <p>{{ items.item.professional_name }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.CreatedAt').capitalize() }}: </p>  <p>{{ items.item.created_at }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.UpdatedAt').capitalize() }}: </p>  <p>{{ items.item.updated_at }}</p> </li>
          </ul>
        </td>
      </template>

    </v-data-table>

    <v-dialog v-model="filter" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">

      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t('Core.Filters').capitalize() }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="filter = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="mb-0">
          <v-form @submit.prevent="onSubmit">
            <v-container>
              <v-row>
                <!-- Start Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="startDate"
                    v-model="modal"
                    :return-value.sync="start_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        :loading="isLoading"
                        :disabled="isLoading"
                        id="start_date"
                        name="start_date"
                        clearable
                        required
                        v-model="start_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="start_date" :max="moment( final_date ).toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.startDate.save(start_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>

                <!-- Final Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="endDate"
                    v-model="modal2"
                    :return-value.sync="final_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        :loading="isLoading"
                        :disabled="isLoading"
                        id="final_date"
                        name="final_date"
                        clearable
                        v-model="final_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="final_date" :min="moment( start_date ).subtract(1, 'day').toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.endDate.save(final_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>

                <!-- Professionals -->
                <v-col cols="12">
                  <v-select
                    v-model="professional"
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="professionals"
                    id="professionals"
                    name="professionals"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account-multiple"
                    :label="$t('Input.Professional').capitalize()"
                  ></v-select>
                </v-col>

                <v-col cols="12" sm="12" lg="4">
                  <v-switch
                    color="info"
                    v-model="park_not_found"
                    :label="$t('Input.ParkNotFound?')"
                  ></v-switch>
                </v-col>

                <!-- Park ID -->
                <v-col cols="12" sm="12" lg="8">
                  <v-autocomplete
                    v-if="!park_not_found"
                    v-model="park_id"
                    return-object
                    autocomplete="off"

                    :hint="$t('Input.HintPark')"
                    prepend-icon="mdi-pine-tree"
                    clearable
                    :loading="isLoading"
                    hide-no-data
                    hide-selected
                    id="park_id"
                    name="park_id"
                    :label="$t('Input.Park').capitalize()"
                    :search-input.sync="search"
                    :items="parks"
                    item-text="name"
                    item-value="id"
                    required
                  ></v-autocomplete>
                  <v-text-field
                    v-else
                    id="park"
                    prepend-icon="mdi-pine-tree"
                    name="park"
                    :hint="$t('Input.HintNotFoundPark')"
                    required
                    clearable
                    autocomplete="off"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :label="$t('Input.Park').capitalize()"
                     maxlength="80"
                    :counter="80"
                    v-model="park"
                  ></v-text-field>

                </v-col>

                <v-col cols="12" class="text-right">
                  <v-btn type="submit" color="info" :loading="isLoading" :disabled="isLoading" @submit.prevent="onSubmit">
                    <v-icon left color="white">mdi-history</v-icon> {{ $t('Core.Send').capitalize() }}
                  </v-btn>
                </v-col>

              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>

    </v-dialog>

    <v-dialog  v-model="info" persistent fullscreen transition="dialog-bottom-transition">
      <v-card elevation="0">
        <v-toolbar class="elevation-0" color="bg-info" extended>
          <v-toolbar-title>
            {{ $t('Core.Details').capitalize() }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>

          <template v-slot:extension>
            <v-tabs
              v-model="tabs"
              background-color="transparent"
              slider-color="white"
            >
              <v-tab :disabled="!selectedEvent.process_id" class="white--text mr-3">
                <v-icon dark class="mr-2">
                  mdi-playlist-check
                </v-icon>
                {{ $t('Input.Details').capitalize() }}
              </v-tab>
              <v-tab :disabled="!selectedEvent.process_id" class="white--text mr-3">
                <v-icon dark class="mr-2">
                  mdi-history
                </v-icon>
                {{ $t('Dashboard.Reprogramming').capitalize() }}
              </v-tab>
              <v-tab class="white--text mr-3">
                <v-icon dark class="mr-2">
                  mdi-human
                </v-icon>
                {{ $t('Input.Attendance') }}
              </v-tab>
              <v-tab class="white--text mr-3">
                <v-icon dark class="mr-2">
                  mdi-paperclip
                </v-icon>
                {{ $t('Input.Files') }}
              </v-tab>
              <v-tab class="white--text">
                <v-icon dark class="mr-2">
                  mdi-camera
                </v-icon>
                {{ $t('Input.Images') }}
              </v-tab>
              <v-tab class="white--text">
                <v-icon dark class="mr-2">
                  mdi-calendar-text
                </v-icon>
                {{ $t('Input.Commitment') }}
              </v-tab>
            </v-tabs>
          </template>

        </v-toolbar>
        <v-card-text class="mb-0">
          <v-tabs-items touchless v-model="tabs" class="transparent">

            <v-tab-item :eager="true" :disabled="!selectedEvent.process_id">
              <v-card-text>
                <v-overlay :value="isLoading">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <details-table :themes="selectedEvent.themes" :activities="selectedEvent.activities"></details-table>
              </v-card-text>
            </v-tab-item>

            <v-tab-item :eager="true" :disabled="!selectedEvent.process_id">
              <v-card-text>
                <v-overlay :value="isLoading">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <ReprogrammingTimeline :reprogramming="selectedEvent.reprogramming"></ReprogrammingTimeline>
              </v-card-text>
            </v-tab-item>

            <v-tab-item :eager="true">
              <v-card-text>
                <v-overlay :value="isLoading">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <attendance-table :programming_id="selectedEvent.id" :with-create-btn="selectedEvent.professional === $user.id"></attendance-table>
              </v-card-text>
            </v-tab-item>

            <v-tab-item :eager="true">
              <v-card-text>
                <v-overlay :value="isLoading">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <files-table :programming_id="selectedEvent.id" :with-create-btn="selectedEvent.deleted_at === null && selectedEvent.professional === $user.id"></files-table>
              </v-card-text>
            </v-tab-item>

            <v-tab-item :eager="true">
              <v-card-text>
                <v-overlay :value="isLoading">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <ImageCarousel :programming_id="selectedEvent.id" :with-create-btn="selectedEvent.deleted_at === null && selectedEvent.professional === $user.id"></ImageCarousel>
              </v-card-text>
            </v-tab-item>

            <v-tab-item :eager="true">
              <v-card-text>
                <v-overlay :value="isLoading">
                  <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
                <CommitmentTable :programming_id="selectedEvent.id" :with-create-btn="selectedEvent.deleted_at === null && selectedEvent.professional === $user.id"></CommitmentTable>
              </v-card-text>
            </v-tab-item>

          </v-tabs-items>
        </v-card-text>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  import {ProgrammingSummary} from "@/models/services/ProgrammingSummary";
  import {Park} from "@/models/services/Park";

  export default {
    name: "ProgrammingTable",

    components: {
      ReprogrammingTimeline: () => import("@/views/dashboard/Events/ReprogrammingTimeline"),
      DetailsTable: () => import("@/views/dashboard/Tables/DetailsTable"),
      AttendanceTable: () => import("@/views/dashboard/Tables/ExecutionTable"),
      //ImageCarousel: () => import("@/views/dashboard/Tables/ImageSlider"),
      ImageCarousel: () => import("@/views/dashboard/Tables/ImageGrid"),
      FilesTable: () => import("@/views/dashboard/Tables/FilesTable"),
      CommitmentTable: () => import("@/views/dashboard/Tables/CommitmentsTable"),
    },

    data: vm => ({
      filter: false,
      modal: false,
      modal2: false,
      info: false,
      tabs: null,


      start_date: null,
      final_date: null,
      park_id: null,
      park: null,
      park_not_found: false,
      parks: [],
      professionals: [],
      professional: null,

      total: 0,
      pagination: {},
      expand: false,
      query: null,
      trashed: false,
      executed: false,
      selectedEvent: {},


      search: null,
      records: [],
      columns: [
        { text: '#', width: '100', value: 'id', sortable: true },
        { text: vm.$t('Input.Park').capitalize(), value: 'park', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.ExecutionDate').capitalize(), value: 'execution_date', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.WorkingDay').capitalize(), value: 'schedule', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Status').capitalize(), value: 'status', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
      ]
    }),
    created: function () {
      this.getRecords();
      this.getProfessionals();
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getRecords)
    },
    methods: {
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
        }
      },
      getParks: _.debounce(function () {
        const query = this.search;
        (new Park()).index({ params: { query: query } })
          .then((response) => this.parks = response.data)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      getRecords: _.debounce(function () {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const park_id = this.park_id;
        const park   = this.park;
        const professional = this.professional;
        this.loading = true;

        let params = {
          per_page: itemsPerPage,
          order: sortDesc,
          column: sortBy,
          query: query,
          page: page,
          park_id: park_id,
          park: park,
          professional: professional,
          start_date: this.start_date,
          final_date: this.final_date
        };

        (new ProgrammingSummary()).index( { params: params })
          .then(response => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      onClose: function () {
        this.selectedEvent = {};
        this.info = false;
        this.tabs = null;
      },
      onSubmit: function () {
        this.getRecords();
      },

      onDetails: function ( event, tab = 0 ) {

        const open = () => {
          this.tabs = tab;
          this.selectedEvent = event;
          this.selectedEvent.date = event.execution_date;
          this.selectedEvent.reason = event.reason_for_cancellation;
          this.selectedEvent.working_day = event.citizen_attention_schedule_id;
          setTimeout(() => this.info = true, 0)
        }

        if (this.info) {
          this.tabs = 0;
          this.selectedEvent = {},
          this.info = false
          setTimeout(open, 0)
        } else {
          open()
        }
        //this.$router.push({name: 'ProgrammingDetails', params: { id: this.selectedEvent.id, event: this.selectedEvent } })
      },
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
    watch: {
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true,
      },
      query: function () {
        this.getRecords()
      },
      park_id: function ( data ) {
        if ( data && typeof data === "object") {
          this.park_id = data.id  ? data.id : null;
        } else {
          this.park_id = data ? data : null;
        }
      },
      search (val) {
        val && val.length > 3 && !this.park_id && this.getParks()
      },
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style lang="scss">
  .v-badge {
    .v-badge__badge {
      right: -2px;
      top: 5px;
    }
  }
</style>