.v-card {
  box-shadow: $card-shadow;
  border-radius: $border-radius-base;

  .category {
    margin: 0;
  }

  .title {
    margin-top: 0;
    line-height: $line-height-base !important;
    letter-spacing: 0 !important;
    font-size: $font-size-h4 !important;
    margin-bottom: $card-title-margin !important;
  }

  .v-divider {
    border-top: $divider-border;
    margin-left: $card-content-x-padding !important;
    margin-right: $card-content-x-padding !important;
    margin-bottom: 1px;
  }

  .v-offset {
    top: $card-offset !important;
    margin-bottom: $card-offset !important;

    .category {
      color: rgba($white, .62);
    }

    .v-card--material__heading.v-card{
      padding: $padding-general;
    }
  }

  .v-card__actions {
    margin: 0 $card-actions-y-margin 0;
    padding: $padding-small 0 $padding-small;
    line-height: $line-height-higher;
  }

  .v-card-heading-primary {
    background: linear-gradient(60deg, $cyan-400, $cyan-700);
    @include shadow-big-color($brand-primary);
  }

  .v-card-heading-info {
    background: linear-gradient(60deg, $cyan-400, $cyan-700);
    @include shadow-big-color($brand-info);
  }

  .v-card-heading-green {
    background: linear-gradient(60deg, $green-400, $green-700);
    @include shadow-big-color($brand-success);
  }

  .v-card-heading-success {
    background: linear-gradient(60deg, $green-400, $green-700);
    @include shadow-big-color($brand-success);
  }

  .v-card-heading-orange {
    background: linear-gradient(60deg, $orange-400, $orange-700);
    @include shadow-big-color($brand-warning);
  }
  .v-card-heading-waring {
    background: linear-gradient(60deg, $orange-400, $orange-700);
    @include shadow-big-color($brand-warning);
  }

  .v-card-heading-red {
    background: linear-gradient(60deg, $red-400, $red-700);
    @include shadow-big-color($brand-danger);
  }

  .v-card-heading-danger {
    background: linear-gradient(60deg, $red-400, $red-700);
    @include shadow-big-color($brand-danger);
  }

  .v-card-heading-rose {
    background: linear-gradient(60deg, $pink-400, $pink-700);
    @include shadow-big-color($brand-rose);
  }

}

.v-card--material-chart.v-card {
  &:not(.v-card--material__heading) {
    margin: $card-margin 0 !important;
  }

  .v-card--material__heading{
    border-radius: $border-radius-base + 3;
    min-height: $card-chart-min-height;
    padding: 0 !important;

    .ct-label {
      font-size: $font-size-chart-label;
    }
  }

  .title {
    margin-top: 0;
  }

  .category {
    margin: 0 !important;
    line-height: $line-height-higher;
    color: $gray-light;
  }

  .v-card__text {
    padding: $padding-general $card-content-x-padding;
    line-height: $line-height-higher;
  }
}

.v-card--material-stats.v-card:not(.v-card--material__heading),
.v-card--material-chart.v-card:not(.v-card--material__heading) {
  margin: $card-margin 0 !important;
}

@include card-header-color('primary', $brand-info, $cyan-400, $cyan-600);
@include card-header-color('info', $brand-info, $cyan-400, $cyan-600);
@include card-header-color('red', $brand-danger, $red-400, $red-600);
@include card-header-color('danger', $brand-danger, $red-400, $red-600);
@include card-header-color('green', $brand-success, $green-400, $green-600);
@include card-header-color('success', $brand-success, $green-400, $green-600);
@include card-header-color('orange', $brand-warning, $orange-400, $orange-600);
@include card-header-color('warning', $brand-warning, $orange-400, $orange-600);
@include card-header-color('purple', $purple-500, $purple-400, $purple-600);
@include card-header-color('pink', $brand-rose, $pink-400, $pink-600);
@include card-header-color('grey', $grey, $grey-700, $grey-800);
@include card-header-color('black', $grey-800, $grey-900, rgba(0, 0, 0, 1));

.v-card--material-stats.v-card {
  .v-offset {
    position: absolute;

    .v-card {
      max-width: $card-stats-offset;
      max-height: $card-stats-offset;
      line-height: $card-stats-offset;
      padding: $padding-general !important;

      i {
        font-size: $font-size-big !important;
        line-height: $line-height-high;
        width: $card-stats-icons-dim;
        height: $card-stats-icons-dim;
      }
    }
  }

  .v-card__text {
    text-align: right;
    padding-top: $padding-small;
    position: relative;
  }

  .title {
    margin: 0 !important;
    line-height: $line-height-base !important;
    letter-spacing: 0 !important;
    font-size: $font-size-h3 !important;

    small {
      color: $gray-light;
      font-size: $font-size-small-tag;
      line-height: 1;
      font-weight: $font-weight-base;
    }
  }

  .v-card__actions {
    i {
      position: relative;
      top: -1px;
      font-size: $font-size-default + 2 !important;
    }

    .caption {
      color: $gray-light;
    }
  }
}

.v-card-profile {
  display: inline-block;

  .v-offset {
    top: unset !important;
    margin-bottom: unset !important;
    margin-top: $card-profile-avatar-pos;
  }

  .v-card__text .v-card__text {
    padding-bottom: 0;
  }

  .v-card__text {
    padding: $padding-general;
  }

  img {
    @include shadow-big();
  }
}

.v-card--flat {
  background-color: transparent !important;
  box-shadow: none;

  .v-table {
    background-color: transparent;
  }
}

.v-card-login{
  margin: 0 auto;

  .v-btn{
    margin: .3125rem 1px;
  }

  .social-line {
    margin-top: 1rem;
  }

  .v-card-title,
  .description{
    text-align: center;
  }

  &.v-card-hidden{
    opacity: 0;
    transform: translate3d(0,-60px,0);
  }

  .v-card-text{
    padding-top: 0;
  }

  .description{
    margin-top: 0;
  }

  .v-card-actions{
    border: 0;
    justify-content: center;
  }
}

.v-card--background {
  margin: 0 auto!important;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  .container {
    min-height: 280px;
    max-width: 440px;
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    z-index: 2;
    margin: 0 auto!important;
    .v-card__title {
      padding: 0;
      margin-top: 0;
      display: block;
      .h3 {
        color: white;
      }
    }
    .h6 {
      margin: 0px;
      color: hsla(0,0%,100%,.7)!important;
      display: block;
      font-size: 0.67em;
      font-weight: bold;
    }
    .v-card__text {
      padding: 0;
      .description {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.6em
      }
    }
  }
}

.v-card--background:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0,0,0,.56);
  border-radius: 6px
}