.v-navigation-drawer {
  @include shadow-big();

  .v-navigation-drawer__content {
    .v-list {
      background: $sidebar-bg;
      height: 100%;
      padding: 0;

      .v-list-item {
        &:not(:nth-child(3)){
          margin: 0 $margin-general 0;
        }

        &:nth-child(3) {
          margin: 0 $margin-general;
        }

        & > .v-list__text {
          padding: $padding-small $padding-general;

          &:hover,
          &:focus,
          &:active {
            background-color: $list-item-hover;
          }

          .v-list__tile__title {
            font-size: $font-size-general !important;
            font-weight: $font-weight-lighter;
            padding: 0;
          }
        }

        .v-list__tile__action {
          margin-right: $margin-general;
          min-width: unset;

          i {
            width: $icon-width;
          }
        }

        .v-list-item--link:not(.v-list-item--active) .v-list-item__icon i {
          opacity: $list-item-icon-opacity;
        }

        .v-list-item--link.v-list-item--active {
          @include shadow-big-color($brand-success);
        }
      }

      .v-list__tile--avatar {
        height: unset;
        padding: $padding-logo 0;
      }

      .v-list__tile__avatar {
        margin-left: $margin-list-left;
        margin-right: $margin-list-right;
        min-width: unset;
      }

      .v-list__tile__title {
        line-height: $line-height;
        padding: $padding-avatar-title 0;
        height: unset;
        font-size: $font-size-avatar-title !important;
        font-weight: $font-weight-base;
        letter-spacing: unset !important;
      }

      .v-divider {
        border-color: $black-opacity-3;
        margin: $divider-margins auto $divider-margins + 25;
        width: $divider-width;

      }

      .v-image__image--contain {
        top: $top-dim;
      }

      .v-avatar {
        @include shadow-big();
      }
    }
  }
}

#core-navigation-drawer {
  @include drawer-active-colors('primary', $brand-info);
  @include drawer-active-colors('info', $brand-info);
  @include drawer-active-colors('red', $brand-danger);
  @include drawer-active-colors('danger', $brand-danger);
  @include drawer-active-colors('green', $brand-success);
  @include drawer-active-colors('success', $brand-success);
  @include drawer-active-colors('orange', $brand-warning);
  @include drawer-active-colors('warning', $brand-warning);
  @include drawer-active-colors('purple', $brand-primary);
  @include drawer-active-colors('pink', $brand-rose);
  @include drawer-active-colors('grey', $grey);
  @include drawer-active-colors('black', $brand-info);
}