<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.entity_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'entity_id' )"
          :error="form.errors.has('entity_id')"
          :items="entities"
          id="entity_id"
          name="entity_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Entity').capitalize()"
        ></v-select>
      </v-col>

      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.type_of_population_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'type_of_population_id' )"
          :error="form.errors.has('type_of_population_id')"
          :items="types"
          id="type_of_population_id"
          name="type_of_population_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.TypeOfPopulation').capitalize()"
        ></v-select>
      </v-col>

      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.condition_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'condition_id' )"
          :error="form.errors.has('condition_id')"
          :items="conditions"
          id="condition_id"
          name="condition_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Condition').capitalize()"
        ></v-select>
      </v-col>

      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.situation_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'situation_id' )"
          :error="form.errors.has('situation_id')"
          :items="situations"
          id="situation_id"
          name="situation_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Situation').capitalize()"
        ></v-select>
      </v-col>

      <!-- F 0-5 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="f_0_5"
          prepend-icon="mdi-human-female"
          name="f_0_5"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.f_0_5').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'f_0_5' )"
          :error="form.errors.has('f_0_5')"
          v-model.number="form.f_0_5"
        ></v-text-field>
      </v-col>

      <!-- F 6-12 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="f_6_12"
          prepend-icon="mdi-human-female"
          name="f_6_12"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.f_6_12').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'f_6_12' )"
          :error="form.errors.has('f_6_12')"
          v-model.number="form.f_6_12"
        ></v-text-field>
      </v-col>

      <!-- F 13-17 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="f_13_17"
          prepend-icon="mdi-human-female"
          name="f_13_17"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.f_13_17').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'f_13_17' )"
          :error="form.errors.has('f_13_17')"
          v-model.number="form.f_13_17"
        ></v-text-field>
      </v-col>

      <!-- F 18-26 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="f_18_26"
          prepend-icon="mdi-human-female"
          name="f_18_26"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.f_18_26').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'f_18_26' )"
          :error="form.errors.has('f_18_26')"
          v-model.number="form.f_18_26"
        ></v-text-field>
      </v-col>

      <!-- F 27-59 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="f_27_59"
          prepend-icon="mdi-human-female"
          name="f_27_59"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.f_27_59').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'f_27_59' )"
          :error="form.errors.has('f_27_59')"
          v-model.number="form.f_27_59"
        ></v-text-field>
      </v-col>

      <!-- F 60 - more -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="f_60_more"
          prepend-icon="mdi-human-female"
          name="f_60_more"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.f_60_more').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'f_60_more' )"
          :error="form.errors.has('f_60_more')"
          v-model.number="form.f_60_more"
        ></v-text-field>
      </v-col>

      <!----------------- ----------------->

      <!-- M 0-5 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="m_0_5"
          prepend-icon="mdi-human-male"
          name="m_0_5"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.m_0_5').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'm_0_5' )"
          :error="form.errors.has('m_0_5')"
          v-model.number="form.m_0_5"
        ></v-text-field>
      </v-col>

      <!-- M 6-12 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="m_6_12"
          prepend-icon="mdi-human-male"
          name="m_6_12"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.m_6_12').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'm_6_12' )"
          :error="form.errors.has('m_6_12')"
          v-model.number="form.m_6_12"
        ></v-text-field>
      </v-col>

      <!-- M 13-17 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="m_13_17"
          prepend-icon="mdi-human-male"
          name="m_13_17"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.m_13_17').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'm_13_17' )"
          :error="form.errors.has('m_13_17')"
          v-model.number="form.m_13_17"
        ></v-text-field>
      </v-col>

      <!-- M 18-26 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="m_18_26"
          prepend-icon="mdi-human-male"
          name="m_18_26"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.m_18_26').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'm_18_26' )"
          :error="form.errors.has('m_18_26')"
          v-model.number="form.m_18_26"
        ></v-text-field>
      </v-col>

      <!-- M 27-59 -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="m_27_59"
          prepend-icon="mdi-human-male"
          name="m_27_59"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.m_27_59').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'm_27_59' )"
          :error="form.errors.has('m_27_59')"
          v-model.number="form.m_27_59"
        ></v-text-field>
      </v-col>

      <!-- M 60 - more -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          type="number"
          min="0"
          max="2000"
          id="m_60_more"
          prepend-icon="mdi-human-male"
          name="m_60_more"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.m_60_more').capitalize()"
          v-validate="form.validations.input_number_required_between(0, 2000)"
          :error-messages="errors.collect( 'm_60_more' )"
          :error="form.errors.has('m_60_more')"
          v-model.number="form.m_60_more"
        ></v-text-field>
      </v-col>

      <v-col cols="12">
        <v-textarea
          id="observation"
          prepend-icon="mdi-note-text"
          name="observation"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Observations').capitalize()"
          v-validate="form.validations.text"
          :error-messages="errors.collect( 'observation' )"
          :error="form.errors.has('observation')"
          :counter="form.validations.text.max"
          :maxlength="form.validations.text.max"
          v-model="form.observation"
        ></v-textarea>
      </v-col>
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-plus</v-icon> {{ $t('Core.Send') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Execution} from "@/models/services/Execution";

  export default {
    name: "AttendanceForm",
    data: vm => ({
      form: new Execution(vm.$route.params.id),
      entities: [],
      types: [],
      conditions: [],
      situations: []
    }),
    created: function() {
      this.getEntities();
      this.getTypes();
      this.getConditions();
      this.getSituations();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            this.form.store()
              .then(response => this.notifyOnSuccess(response.data))
              .then(() => this.$validator.reset())
              .catch(error  =>  this.notifyOnError( error.message ))
              .finally(() => this.$bus.$emit('refreshSource'))
          }
        })
      },
      getEntities: function () {
        this.entities = this.$store.getters['selects/getEntities'];
        if ( this.entities.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/entities')
            .then(response => this.entities = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getTypes: function () {
        this.types = this.$store.getters['selects/getPopulationTypes'];
        if ( this.types.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/population_types')
            .then(response => this.types = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getConditions: function () {
        this.conditions = this.$store.getters['selects/getConditions'];
        if ( this.conditions.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/conditions')
            .then(response => this.conditions = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getSituations: function () {
        this.situations = this.$store.getters['selects/getSituations'];
        if ( this.situations.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/situations')
            .then(response => this.situations = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      }
    }
  }
</script>

<style scoped>

</style>