<template>
  <v-form id="report-form" @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Start Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="startDate"
          v-model="modal"
          :return-value.sync="form.start_day"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.Date').capitalize()"
              v-validate="form.validations.input_date_required"
              :loading="isLoading"
              :disabled="isLoading"
              :error-messages="errors.collect( 'start_day' )"
              :error="form.errors.has('start_day')"
              id="start_day"
              name="start_day"
              clearable
              required
              v-model="form.start_day"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.start_day" :max="moment( form.end_day ).toISOString()" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.startDate.save(form.start_day)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>

      <!-- Final Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="endDate"
          v-model="modal2"
          :return-value.sync="form.end_day"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.Date').capitalize()"
              v-validate="form.validations.input_date_required"
              :loading="isLoading"
              :disabled="isLoading"
              :error-messages="errors.collect( 'end_day' )"
              :error="form.errors.has('end_day')"
              id="end_day"
              name="end_day"
              clearable
              required
              v-model="form.end_day"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.end_day" :min="moment( form.start_day ).toISOString()" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.endDate.save(form.end_day)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>

      <!-- Professionals -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.professionals"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="professionals"
          id="professionals"
          name="professionals"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-account-multiple"
          :label="$t('Input.Professional').capitalize()"
        ></v-select>
      </v-col>

      <!-- Submit -->
      <v-col cols="12" sm="12" lg="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-calendar</v-icon> {{ $t('Core.Create') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>

  import {GeneralReport} from "@/models/services/GeneralReport";

  export default {
    name: "ByProfessionalsForm",
    data: () => ({
      modal2: false,
      modal: false,
      form: new GeneralReport(),
      professionals: [],
    }),
    created: function () {
      this.getProfessionals();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            //document.getElementById("report-form").submit();
            this.form.byProfessionals({ responseType: 'blob' })
              .then((response) => {
                const url = window.URL.createObjectURL(new Blob([response]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'REPORTE_MENSUAL_POR_PROFESIONAL.xlsx'); //or any other extension
                document.body.appendChild(link);
                link.click();
              })
              .then(() => this.$validator.reset())
              .catch((error) => this.notifyOnError( error.message ));
          }
        })
      },
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
    }
  }
</script>

<style scoped>

</style>