<template>
  <vue-dropzone ref="dropzone_agreement" id="agreement"
                @vdropzone-file-added="onFile"
                @vdropzone-max-files-exceeded="onMaxFiles"
                @vdropzone-sending="onSending"
                @vdropzone-removed-file="onFile"
                @vdropzone-canceled="onCancelUpload"
                @vdropzone-success="onSuccessUpload"
                @vdropzone-error="onErrorUpload"
                :options="dropzone_file"></vue-dropzone>
</template>

<script>
  import 'vue2-dropzone/dist/vue2Dropzone.min.css';
  import vue2Dropzone from 'vue2-dropzone';
  import {Api} from "@/models/Api";

  const url = process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_URL_DEV : process.env.VUE_APP_API_URL_PROD;

  export default {
    name: "CitizenDropZone",
    components: {
      vueDropzone: vue2Dropzone,
    },
    props: {
      id: {
        type: [Number, String],
        default: null,
      },
      url: {
        type: String,
        default: null,
      }
    },
    data: vm => ({
      dropzone_file: {
        url: `${url}${ vm.url }`,
        thumbnailWidth: 150,
        maxFilesize: 60, //MB
        addRemoveLinks: true,
        parallelUploads: 1,
        maxFiles: 1,
        autoProcessQueue: true,
        acceptedFiles: '.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx',
        headers: {
          Authorization: vm.$store.getters['user/getToken'],
          "X-Localization": vm.$i18n.locale
        },
        dictDefaultMessage: '<i style="font-size: 60px" class="v-icon text-info mdi mdi-cloud-upload theme--dark"></i><br><p>Arrastra o da click aquí para subir el acta.</p>'
      },
      file_count: 0
    }),
    methods: {
      onFile: function (file) {
        if ('undefined' !== typeof this.$refs.dropzone_agreement.dropzone) {
          this.file_count = this.$refs.dropzone_agreement.dropzone.files.length
        } else {
          this.file_count = 0;
        }
      },
      onMaxFiles: function (file) {
        this.$refs.dropzone_agreement.removeFile(file);
      },
      onSending: function (file, xhr, formData) {
        formData.append('id', this.id)
      },
      onCancelUpload: function (file) {
        this.$refs.dropzone_agreement.removeFile(file);
      },
      onSuccessUpload: function (file, response) {
        this.$refs.dropzone_agreement.removeFile(file);
        if (file.status === "success") {
          this.$emit('on-submit-file');
          this.notifyOnSuccess( response.data );
        }
      },
      onErrorUpload: function (file, message, xhr) {
        this.$refs.dropzone_agreement.removeFile(file);
        this.notifyOnError( message.message );
      },
    }
  }
</script>

<style scoped>

</style>