<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Initial Hour -->
      <v-col cols="12" sm="12" lg="4">
        <v-dialog
          ref="initial_hour"
          v-model="initial_hour_dialog"
          :return-value.sync="form.initial_hour"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="form.initial_hour"
              :label="$t('Input.InitialHour').capitalize()"
              v-validate="form.validations.input_time_required"
              :error-messages="errors.collect( 'initial_hour' )"
              :error="form.errors.has('initial_hour')"
              prepend-icon="mdi-clock"
              readonly
              id="initial_hour"
              name="initial_hour"
              clearable
              required
              v-on="on"
            ></v-text-field>
          </template>
          <v-time-picker
            v-if="initial_hour_dialog"
            :max="form.final_hour"
            v-model="form.initial_hour"
            ampm-in-title
            full-width
          >
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="initial_hour_dialog = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.initial_hour.save(form.initial_hour)">OK</v-btn>
          </v-time-picker>
        </v-dialog>
      </v-col>
      <!-- Final Hour -->
      <v-col cols="12" sm="12" lg="4">
        <v-dialog
          ref="final_hour"
          v-model="final_hour_dialog"
          :return-value.sync="form.final_hour"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="form.final_hour"
              clearable
              autocomplete="off"
              id="final_hour"
              name="final_hour"
              required
              :label="$t('Input.FinalHour').capitalize()"
              v-validate="form.validations.input_time_required"
              :error-messages="errors.collect( 'final_hour' )"
              :error="form.errors.has('final_hour')"
              prepend-icon="mdi-clock"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-time-picker
            v-if="final_hour_dialog"
            :min="form.initial_hour"
            v-model="form.final_hour"
            ampm-in-title
            full-width
          >
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="final_hour_dialog = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.final_hour.save(form.final_hour)">OK</v-btn>
          </v-time-picker>
        </v-dialog>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-calendar</v-icon> {{ $t('Core.Create') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {CommunityAttention} from "@/models/services/CommunityAttention";

  export default {
    name: "CommunityAttentionForm",
    props: {
      date: {
        type: String,
        default: moment().format('YYYY-MM-DD')
      }
    },
    created: function () {
      this.form = new CommunityAttention({
        date: this.date,
        initial_hour: null,
        final_hour: null,
      });
    },
    data: () => ({
      form: new CommunityAttention(),
      initial_hour_dialog: false,
      final_hour_dialog: false,
    }),
    methods: {
      onSubmit: _.throttle(function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.store()
              .then(response => this.notifyOnSuccess( response.data ))
              .then(() => this.$validator.reset())
              .then(() => this.form.date = this.date)
              .catch(error => {
                if ( error.message ) {
                  this.notifyOnError(error.message)
                }
                if ( this.form.errors.has('date') ) {
                  this.notifyOnError( this.form.errors.first('date') )
                }
              })
              .finally( () => this.$bus.$emit('refreshSource'))
          }
        })
      }, 2000)
    },
    watch: {
      date: function ( date ) {
        this.form.date = date;
      }
    }
  }
</script>

<style scoped>

</style>