<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Park ID -->
      <v-col cols="12" sm="12" lg="6">
        <v-autocomplete
          v-model.number="form.park_id"
          autocomplete="off"
          :hint="$t('Input.HintPark')"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-pine-tree"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="park_id"
          name="park_id"
          :error-messages="errors.collect( 'park_id' )"
          :label="$t('Input.Park').capitalize()"
          :search-input.sync="search"
          :items="parks"
          item-text="name"
          item-value="id"
          required
        ></v-autocomplete>
      </v-col>
      <!-- Responsable -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          id="responsable"
          prepend-icon="mdi-account-check"
          name="responsable"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Responsable').capitalize()"
          v-validate="form.validations.input_text_required"
          :error-messages="errors.collect( 'responsable' )"
          :error="form.errors.has('responsable')"
          v-model.number="form.responsable"
        ></v-text-field>
      </v-col>
      <!-- Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="form.date"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.Date').capitalize()"
              v-validate="form.validations.input_date_required"
              :error-messages="errors.collect( 'date' )"
              :error="form.errors.has('date')"
              id="date"
              name="date"
              clearable
              required
              v-model="form.date"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.date" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal = false">{{ $t('Core.Cancel') }}</v-btn>
            <v-btn text color="primary" @click="$refs.dialog.save(form.date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>
      <!-- Description -->
      <v-col cols="12" sm="12">
        <v-textarea
          id="description"
          prepend-icon="mdi-note-text"
          name="description"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Description').capitalize()"
          v-validate="form.validations.text"
          :error-messages="errors.collect( 'description' )"
          :error="form.errors.has('description')"
          :counter="form.validations.text.max"
          :maxlength="form.validations.text.max"
          v-model="form.description"
        ></v-textarea>
      </v-col>

      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-plus</v-icon> {{ $t('Core.Send') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {FollowingUpOnCommitment} from "@/models/services/FollowingUpOnCommitment";
  import {Park} from "@/models/services/Park";

  export default {
    name: "FollowingCommitmentForm",
    data: vm => ({
      modal: false,
      form: new FollowingUpOnCommitment(),
      parks: [],
      search: null,
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            this.form.store()
              .then(response => this.notifyOnSuccess(response.data))
              .then(() => this.$validator.reset())
              .catch(error  =>  this.notifyOnError( error.message ))
              .finally(() => this.$bus.$emit('refreshFollowingCommitments'))
          }
        })
      },
      getParks: _.debounce(function () {
        const query = this.search;
        (new Park()).index({ params: { query: query } })
          .then((response) => this.parks = response.data)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
    },
    watch: {
      search (val) {
        val && val.length > 3 && !this.form.park_id && this.getParks()
      },
    }
  }
</script>

<style scoped>

</style>