<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <v-col cols="12" sm="12" lg="12" class="text-center">
        <croppa v-model="image"
                :width="200"
                :height="200"
                placeholder="Click"
                :placeholder-font-size="16"
                :prevent-white-space="true"
                :show-remove-button="true"
                remove-button-color="black"
                :remove-button-size="50"
                :show-loading="true"
                :quality="5"
                :loading-size="50">
          <v-avatar slot="placeholder" size="96">
            <v-icon size="96">
              mdi-account
            </v-icon>
          </v-avatar>
        </croppa>
      </v-col>
      <v-col cols="12" sm="12" lg="12" class="text-center">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.rotate()"> <v-icon>mdi-rotate-left</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.Rotate')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.flipX()"> <v-icon>$vuetify.icons.flip_horizontal</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.FlipHorizontal')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.flipY()"> <v-icon>$vuetify.icons.flip_vertical</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.FlipVertical')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.zoomIn()"> <v-icon>mdi-magnify-plus-outline</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.ZoomIn')}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" icon @click="image.zoomOut()"> <v-icon>mdi-magnify-minus-outline</v-icon> </v-btn>
          </template>
          <span>{{$t('Core.ZoomOut')}}</span>
        </v-tooltip>



      </v-col>
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.description"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-pencil"
          :error-messages="errors.collect( 'description' )"
          :label="$t('Input.Description').capitalize()"
          name="description"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          id="description"
          :required="!form.image"
        />
      </v-col>

      <v-col cols="12" lg="6" sm="12">
        <v-switch
          v-model="form.confirmation"
          clearable
          v-validate="form.validations.required"
          prepend-icon="mdi-check"
          :error-messages="errors.collect( 'confirmation' )"
          :label="$t('Input.Confirmation').capitalize()"
          name="confirmation"
          :loading="isLoading"
          :readonly="isLoading"
          id="confirmation"
          required
        />
      </v-col>
      <v-col cols="12">
        <v-btn type="submit"  @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="info">
          {{ $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {ProgrammingImage} from "@/models/services/ProgrammingImage";

  export default {
    name: "ImageForm",
    data: vm => ({
      image: null,
      form: new ProgrammingImage( vm.$route.params.id )
    }),
    methods: {
      async onSubmit () {
        if ( this.image.hasImage() ) {
          this.form.image = await this.image.promisedBlob();
        }

        this.$validator.validateAll().then(isValid => {
          if ( isValid ){
            this.form.store( this.image )
              .then((response) => this.notifyOnSuccess( response.data ))
              .then(() => this.$validator.reset())
              .catch( error => {
                if ( error.message ) {
                  this.notifyOnError( error.message )
                }
              })
              .finally(() => this.$bus.$emit('refreshImages'))

          } else {
            this.notifyOnError( this.$t('Core.CompleteTheForm') )
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>