<template>
  <v-card
    :color="!plan.best ? 'transparent elevation-0' : undefined"
    :light="plan.best"
    class="v-card--plan mx-auto pt-3 pb-4 px-2 text-center"
    max-width="100%"
    min-height="425"
    width="245"
  >
    <div
      class="body-2 text-uppercase mb-8"
      :class="plan.textClass"
      v-text="plan.heading"
    />

    <v-avatar
      class="mb-8"
      size="130"
    >
      <v-icon
        :color="!plan.best ? undefined : 'success'"
        size="64"
        v-text="plan.icon"
      />
    </v-avatar>

    <h2
      class="display-1 font-weight-light"
      :class="plan.textClass"
      v-text="plan.title"
    />

    <v-card-text
      class="body-1 font-weight-light pa-1 mb-12"
      :class="plan.textClass"
      v-text="plan.text"
    />

    <v-btn :color="!plan.best ? 'transparent' : 'success'">
      {{ $t('plan') }}
    </v-btn>
  </v-card>
</template>

<script>
  export default {
    name: 'PlanCard',

    props: {
      plan: {
        type: Object,
        default: () => ({
          best: false,
          heading: undefined,
          icon: undefined,
          title: undefined,
          text: undefined
        })
      }
    }
  }
</script>

<style lang="sass">
  .v-card--plan
    .v-avatar
      border-radius: 50%
      border: 1px solid #E5E5E5
</style>
