<template>
    <v-app-bar  :app="$route.name === 'Landing'" :absolute="$route.name !== 'Landing'" v-scroll="onScroll" :dark="dark" :color="color" elevate-on-scroll >
        <v-toolbar-title :class="[{ 'ml-10': !responsive, 'text-grey': darkTheme }]">{{ responsive ? shortTitle : title }}</v-toolbar-title>

        <v-spacer></v-spacer>

        <div class="hidden-sm-and-down mr-10" >
            <v-btn v-for="item in items" :to="item.path" :key="item.name" v-if="!item.hideInMenu" text large>
                <v-icon>{{ item.icon }}</v-icon> {{ $t( `Toolbar.${item.name}` ) }}
            </v-btn>
            <v-btn v-if="$auth.isLoggedIn()" to="/home" text large>
                <v-icon>mdi-view-dashboard</v-icon> {{ $t( `Toolbar.Dashboard` ) }}
            </v-btn>
        </div>

        <v-btn icon @click.stop="onDark">
            <v-icon>mdi-theme-light-dark</v-icon>
        </v-btn>

        <v-menu bottom :right="viewRTL" :left="!viewRTL" content-class="dropdown-menu" offset-y transition="slide-y-transition">
            <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon>
                    <v-icon v-if="appLanguage === 'es'">$vuetify.icons.es</v-icon>
                    <v-icon v-else>$vuetify.icons.en</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-list dense>
                    <v-list-item>
                        <v-list-item-title @click="onClickLang('es')"><v-icon>$vuetify.icons.es</v-icon> ES</v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-title @click="onClickLang('en')"><v-icon>$vuetify.icons.en</v-icon> EN</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu>

        <v-app-bar-nav-icon class="hidden-md-and-up" @click.stop="onClickBtn"></v-app-bar-nav-icon>
    </v-app-bar>
</template>

<script>
    import landing from '@/router/landing'
    export default {
        name: "Toolbar",
        data: ( ) => ({
            dark: true,
            offsetTop: 0,
            color: 'transparent',
            title: 'INSTITUTO DISTRITAL DE RECREACIÓN Y DEPORTE',
            shortTitle: 'IDRD'
        }),
        methods: {
            onScroll: function () {
                let color = this.darkTheme ? '' : 'white';
                this.color = (window.scrollY > 100 ) ? color : 'transparent';
                this.dark = !(window.scrollY > 100);
            }
        },
        computed: {
            items: function () {
                return landing
            },
            icon() {
                if ( this.lang !== 'es' ) {
                    return this.$vuetify.icons.en
                }
                return this.$vuetify.icons.es
            },
        }
    }
</script>

<style scoped>

</style>
