<template>
  <v-col cols="12">
    <h4>{{$t('Dashboard.ProgrammingHistory')}}</h4>
    <v-timeline
      v-if="reprogramming && reprogramming.length > 0 && !isLoading"
      align-top
      dense
    >
      <v-timeline-item
        v-for="timeline in reprogramming"
        :key="timeline.id"
        color="info"
        icon="mdi-calendar"
        fill-dot
      >
        <v-card class="pa-6">
          <v-list dense>
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-calendar</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ timeline.date }}</v-list-item-title>
                <v-list-item-subtitle>{{ $t('Input.OldDate').capitalize() }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <!-- Updated At -->
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-calendar</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ timeline.initial_hour }} - {{ timeline.final_hour }}</v-list-item-title>
                <v-list-item-subtitle>{{ $t('Input.OldTime').capitalize() }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <h6 class="text-uppercase font-weight-bold">{{ $t('Input.ReprogrammingReason') }}</h6>
          <div
            class="caption grey--text"
            v-text="timeline.reason"
          ></div>

          <v-divider class="mb-3" />

          <div class="text-uppercase caption">{{  $t('Input.CreatedAt').capitalize() }} {{ timeline.created_at }}</div>

        </v-card>
      </v-timeline-item>
    </v-timeline>
    <core-empty-state v-else rounded class="my-2" icon="mdi-history" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
    </core-empty-state>
  </v-col>
</template>

<script>
  export default {
    name: "ReprogrammingTimeline",
    props: {
      reprogramming: {
        type: Array,
        default: () => ([])
      }
    }
  }
</script>

<style scoped>

</style>