<template>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path style="fill:#FFDA44;" d="M0,256C0,114.616,114.616,0,256,0s256,114.616,256,256l-256,22.261L0,256z"></path>
        <path style="fill:#D80027;" d="M34.256,384C78.521,460.516,161.245,512,256,512s177.479-51.484,221.744-128L256,367.304L34.256,384z"></path>
        <path style="fill:#0052B4;" d="M477.744,384C499.526,346.346,512,302.631,512,256H0c0,46.631,12.474,90.346,34.256,128H477.744z"></path>
    </svg>
</template>

<script>
    export default {
        name: "Es"
    }
</script>

<style scoped>

</style>
