<template>
  <svg class="flip-vertical" style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M3 15V17H5V15M15 19V21H17V19M19 3H5C3.9 3 3 3.9 3 5V9H5V5H19V9H21V5C21 3.9 20.1 3 19 3M21 19H19V21C20.1 21 21 20.1 21 19M1 11V13H23V11M7 19V21H9V19M19 15V17H21V15M11 19V21H13V19M3 19C3 20.1 3.9 21 5 21V19Z" />
  </svg>
</template>

<script>
  export default {
    name: "FlipVertical"
  }
</script>

<style scoped>
  .flip-vertical {
    fill: currentColor
  }
  path {
    stroke: currentColor
  }
  rect {
    stroke: currentColor
  }
  polygon {
    fill: none;
    stroke: currentColor;
    stroke-width: 4px;
  }
  circle {
    stroke: currentColor
  }
</style>